<!--Header Start-->
<header class="main-header">
<div class="full-wrapper w100 jc-c ai-c d-f">
<div class="logo">
    <a href="index.html">
<img src="dist/images/common/omnie-logo.svg" width="251" height="25" alt="Omnie Logo " >
    </a>

    <div class="head-right">


    </div>
</div>


</div>


</header>
<!--Header End-->