.form-control {
  background: transparent;
  padding: 0;
  border: none;
  border-bottom: 1px solid @black;
  font-size: 16px;
  line-height: 22px;
  color: @black;
  width: 100%;

  &.secondry {
    font-size: 20px;
    line-height: 28px;
    color: @white;
    border-bottom: 1px solid @white;

    &::-webkit-input-placeholder {
      color: @white;
    }

    &::-moz-placeholder {
      color: @white;
    }

    &:-ms-input-placeholder {
      color: @white;
    }

    &:-moz-placeholder {
      color: @white;
    }
  }
}

::-webkit-input-placeholder {
  color: @black;
}

::-moz-placeholder {
  color: @black;
}

:-ms-input-placeholder {
  color: @black;
}

:-moz-placeholder {
  color: @black;
}

.btn {
  padding: 0;
  border: none;
  background: transparent;
  color: @black;
  transition: all 0.3s ease-in;
  .tt-u;

  &.btn-secondry {
    font-size: 20px;
    line-height: 28px;
    color: @white;

    &:hover {
      color: @black;
    }
  }
}

.form-row {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  background: none;
  padding: 10px 0 20px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1 !important;
  }

  &:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1 !important;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
    opacity: 1 !important;
  }

  &-checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
    position: relative;
    top: 2px;
    margin-right: 12px;
  }
}

textarea {
  padding: 20px 0;
  height: 70px;
  resize: none;
}

select {
  padding-left: 10px;
  padding-right: 10px;
}

label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
