.form-control {
  background: transparent;
  padding: 0;
  border: none;
  border-bottom: 1px solid @black;
  font-size: 16px;
  line-height: 22px;
  color: @black;
  width: 100%;

  &.secondry {
    font-size: 20px;
    line-height: 28px;
    color: @white;
    border-bottom: 1px solid @white;

    &::-webkit-input-placeholder {
      color: @white;
    }

    &::-moz-placeholder {
      color: @white;
    }

    &:-ms-input-placeholder {
      color: @white;
    }

    &:-moz-placeholder {
      color: @white;
    }
  }
}

::-webkit-input-placeholder {
  color: @black;
}

::-moz-placeholder {
  color: @black;
}

:-ms-input-placeholder {
  color: @black;
}

:-moz-placeholder {
  color: @black;
}

.btn {
  padding: 0;
  border: none;
  background: transparent;
  color: @black;
  transition: all 0.3s ease-in;
  .tt-u;

  &.btn-secondry {
    font-size: 20px;
    line-height: 28px;
    color: @white;

    &:hover {
      color: @black;
    }
  }
}

.form-row {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  background: none;
  padding: 10px 21px;
  border: 0;
  border: 1.5px solid @black;
  font-size: 16px;
  border-radius: 4px;

  &::-webkit-input-placeholder {
    color: @black;
    opacity: 1 !important;
    font-size: 18px;
  }

  &:-ms-input-placeholder {
    color: @black;
    opacity: 1 !important;
    font-size: 18px;
  }

  &::placeholder {
    color: @black;
    opacity: 1 !important;
    font-size: 18px;
  }

  &-checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
    position: relative;
    top: 2px;
    margin-right: 12px;
  }
}

textarea {
  padding: 20px 0;
  height: 70px;
  resize: none;
}

select {
  padding-left: 10px;
  padding-right: 10px;
}

label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

/* Radio Buttons
   ========================================================================== */
/* Custom Radio */

.c-radio {
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 52px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: top;
    color: @black;
    margin: 0;

    &:before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 12px;
      position: absolute;
      left: 0;
      top: 0;
      background: @white;
      border: 1.5px solid @black;
    }
  }

  input[type="radio"] {
    display: none;

    & ~ label:after {
      content: "";
      display: inline-block;
      font-size: 30px;
      text-align: center;
      line-height: 18px;
      height: 18px;
      width: 18px;
      background: @black;
      position: absolute;
      left: 11px;
      top: 11px;
      border-radius: 50%;
      -webkit-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform: scale(0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    &:checked {
      & ~ label {
        &:after {
          transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/* Checkboxes
   ========================================================================== */
/* custom checkbox */
.c-checkbox {
  margin: 0;
  position: relative;

  & > label,
  & > .label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 52px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: top;
    color: @black;
    margin: 0;
    &:extend(.transition);

    &:before {
      content: "";
      position: absolute;
      &:extend(.transition);
      display: inline-block;
      width: 40px;
      height: 40px;
      background: transparent;
      top: 0;
      left: 0;
      margin-top: 0;
      border: 1.5px solid @black;
      border-radius: 4px;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    & ~ label,
    & ~ .label {
      &:after {
        content: "";
        display: block;
        position: absolute;
        line-height: 20px;
        width: 18px;
        height: 13px;
        top: 14px;
        left: 10px;
        margin-top: 0;
        -webkit-transition: all 0.15s ease;
        -ms-transition: all 0.15s ease;
        transition: all 0.15s ease;
        opacity: 0;
        visibility: hidden;
        background: url("@{image-path}tick.svg") no-repeat center;
      }
    }

    &:checked {
      & ~ label,
      & ~ .label {
        &:after {
          transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
