.services-banner {
  padding: 50px 0;

  .container {
    max-width: 1370px;
  }

  p {
    font-size: 16px;
    color: #626262;
  }

  .right {
    padding: 50px 0;

    figure {
      margin-bottom: 10px;
    }

    .details {
      max-width: 287px;
    }

    .services-slider {
      display: block;
      position: relative;

      .slick-dots {
        display: none !important;
      }

      .item {
        background-color: #f6f6f6;

        .details {
          .link-btn {
            margin-top: 30px;
            display: table;
          }
        }

        &.slick-active {
          opacity: 1 !important;
        }

        figure {
          svg {
            max-height: calc(100vh - 450px);
            width: auto;
          }
        }

        &:nth-child(1) {
          &.slick-active.animate-active {
            svg .svg-elem-1 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-2 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 0;
              fill: rgb(255, 255, 255);
            }
          }

          svg .svg-elem-1 {
            stroke-dashoffset: 1591.635009765625px;
            stroke-dasharray: 1591.635009765625px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          }

          svg .svg-elem-2 {
            stroke-dashoffset: 866.6983642578125px;
            stroke-dasharray: 866.6983642578125px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          }

          svg .svg-elem-3 {
            stroke-dashoffset: 401.88409423828125px;
            stroke-dasharray: 401.88409423828125px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          }

          svg .svg-elem-4 {
            stroke-dashoffset: 2040px;
            stroke-dasharray: 2040px;
            fill: transparent;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          }
        }

        &:nth-child(2) {
          &.slick-active {
            svg .svg-elem-1 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-2 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-5 {
              stroke-dashoffset: 0;
              fill: rgb(0, 0, 0);
            }
          }

          svg .svg-elem-1 {
            stroke-dashoffset: 1369.4510498046875px;
            stroke-dasharray: 1369.4510498046875px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          }

          svg .svg-elem-2 {
            stroke-dashoffset: 1359.1605224609375px;
            stroke-dasharray: 1359.1605224609375px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          }

          svg .svg-elem-3 {
            stroke-dashoffset: 865.1907958984375px;
            stroke-dasharray: 865.1907958984375px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          }

          svg .svg-elem-4 {
            stroke-dashoffset: 854.9010620117188px;
            stroke-dasharray: 854.9010620117188px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          }

          svg .svg-elem-5 {
            stroke-dashoffset: 62.44281768798828px;
            stroke-dasharray: 62.44281768798828px;
            fill: transparent;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
              fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          }

          .box {
            display: flex;
            position: relative;
            align-items: flex-end;

            .details {
              padding-left: 30px;
              padding-bottom: 20px;
            }
          }
        }

        &:nth-child(3) {
          &.slick-active {
            svg .svg-elem-1 {
              stroke-dashoffset: 0;
            }

            svg.active .svg-elem-2 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 0;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 0;
            }
          }

          svg .svg-elem-1 {
            stroke-dashoffset: 126.07189178466797px;
            stroke-dasharray: 126.07189178466797px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          }

          svg .svg-elem-2 {
            stroke-dashoffset: 126.07189178466797px;
            stroke-dasharray: 126.07189178466797px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          }

          svg .svg-elem-3 {
            stroke-dashoffset: 1520.9609375px;
            stroke-dasharray: 1520.9609375px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          }

          svg .svg-elem-4 {
            stroke-dashoffset: 913.878173828125px;
            stroke-dasharray: 913.878173828125px;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
          }

          .box {
            display: table;

            .details {
              display: table;
              margin-left: auto;
              padding-right: 50px;
            }
          }
        }
      }

      .slick-custom-arrow {
        left: 110%;
        right: auto;
      }

      .slick-custom-next {
        margin-left: 60px;
      }
    }
  }

  @media only screen and (max-width: 1830px) {
    .right {
      .services-slider {
        .slick-custom-arrow {
          left: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 1650px) {
    .right {
      .services-slider {
        padding-right: 10%;

        .slick-custom-arrow {
          left: auto;
          right: 0;

          &.slick-custom-next {
            margin-left: 0;
          }

          &.slick-custom-prev {
            margin-right: 60px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1650px) {
    .right {
      padding: 30px 0;
    }
  }

  @media only screen and (max-width: 1350px) {
    padding: 30px 0;

    .content {
      width: 35%;

      .h2 {
        font-size: 33px;
        line-height: 1.2;
      }

      p {
        font-size: 15px;
        line-height: 1.4;
      }
    }

    .right {
      padding: 30px 0;
      width: 55%;

      figure {
        margin-bottom: 10px;
      }

      .details {
        max-width: 287px;
      }

      .services-slider {
        display: block;
        position: relative;

        .slick-dots {
          display: none !important;
        }

        .item {
          background-color: #f6f6f6;
          // opacity: 0 !important;
          // transition: none !important;

          .details {
            .link-btn {
              margin-top: 30px;
              display: table;
            }
          }

          &.slick-active {
            opacity: 1 !important;
          }

          figure {
            svg {
              max-height: calc(100vh - 450px);
              width: auto;
            }
          }

          &:nth-child(1) {
            &.slick-active.animate-active {
              svg .svg-elem-1 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-2 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-3 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-4 {
                stroke-dashoffset: 0;
                fill: rgb(255, 255, 255);
              }
            }

            svg .svg-elem-1 {
              stroke-dashoffset: 1591.635009765625px;
              stroke-dasharray: 1591.635009765625px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            }

            svg .svg-elem-2 {
              stroke-dashoffset: 866.6983642578125px;
              stroke-dasharray: 866.6983642578125px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 401.88409423828125px;
              stroke-dasharray: 401.88409423828125px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 2040px;
              stroke-dasharray: 2040px;
              fill: transparent;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            }
          }

          &:nth-child(2) {
            &.slick-active {
              svg .svg-elem-1 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-2 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-3 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-4 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-5 {
                stroke-dashoffset: 0;
                fill: rgb(0, 0, 0);
              }
            }

            svg .svg-elem-1 {
              stroke-dashoffset: 1369.4510498046875px;
              stroke-dasharray: 1369.4510498046875px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            }

            svg .svg-elem-2 {
              stroke-dashoffset: 1359.1605224609375px;
              stroke-dasharray: 1359.1605224609375px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 865.1907958984375px;
              stroke-dasharray: 865.1907958984375px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 854.9010620117188px;
              stroke-dasharray: 854.9010620117188px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            }

            svg .svg-elem-5 {
              stroke-dashoffset: 62.44281768798828px;
              stroke-dasharray: 62.44281768798828px;
              fill: transparent;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            }

            .box {
              display: flex;
              position: relative;
              align-items: flex-end;

              .details {
                padding-left: 30px;
                padding-bottom: 20px;
              }
            }
          }

          &:nth-child(3) {
            &.slick-active {
              svg .svg-elem-1 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-2 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-3 {
                stroke-dashoffset: 0;
              }

              svg .svg-elem-4 {
                stroke-dashoffset: 0;
              }
            }

            svg .svg-elem-1 {
              stroke-dashoffset: 126.07189178466797px;
              stroke-dasharray: 126.07189178466797px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            }

            svg .svg-elem-2 {
              stroke-dashoffset: 126.07189178466797px;
              stroke-dasharray: 126.07189178466797px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
            }

            svg .svg-elem-3 {
              stroke-dashoffset: 1520.9609375px;
              stroke-dasharray: 1520.9609375px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
            }

            svg .svg-elem-4 {
              stroke-dashoffset: 913.878173828125px;
              stroke-dasharray: 913.878173828125px;
              transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
            }

            .box {
              display: table;

              .details {
                display: table;
                margin-left: auto;
                padding-right: 50px;
              }
            }
          }
        }

        .slick-custom-arrow {
          left: 110%;
          right: auto;
        }

        .slick-custom-next {
          margin-left: 60px;
        }
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .container {
      &>.d-f {
        flex-wrap: wrap;
      }
    }

    .content {
      width: 100%;
    }

    .right {
      width: 100%;

      .services-slider {
        padding-right: 30%;
        padding-top: 100px;
      }
    }
  }

  @media only screen and (max-width: 1650px) {
    .right {
      .services-slider {
        padding-right: 10%;

        .slick-custom-arrow {
          left: auto;
          right: 0;

          &.slick-custom-next {
            margin-left: 0;
          }

          &.slick-custom-prev {
            margin-right: 60px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1650px) {
    .right {
      padding: 30px 0;
    }
  }

  @media only screen and (max-width: 1350px) {
    padding: 30px 0;

    .content {
      width: 35%;

      .h2 {
        font-size: 33px;
        line-height: 1.2;
      }

      p {
        font-size: 15px;
        line-height: 1.4;
      }
    }

    .right {
      padding: 30px 0;
      width: 55%;

      .services-slider {
        .item {
          figure svg {
            max-height: calc(100vh - 380px);
          }

          .h4 {
            font-size: 25px;
            line-height: 1.2;
          }

          &:nth-child(2) {
            figure svg {
              max-height: calc(100vh - 200px);
            }
          }

          .details {
            .link-btn {
              margin-top: 20px;
              display: table;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .container {
      &>.d-f {
        flex-wrap: wrap;
      }
    }

    .content {
      width: 100%;
    }

    .right {
      width: 100%;

      .services-slider {
        padding-right: 30%;
        padding-top: 100px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    height: auto;
    min-height: calc(100vh - 168px);
    padding: 60px 0 30px;

    .content {
      .h2 {
        font-size: 36px;
        line-height: 1.2;
      }
    }

    .right {
      padding: 0 25px;

      .services-slider {
        padding-right: 0;
        padding-top: 50px;

        .item {
          &:nth-child(2) {
            .box {
              display: block;

              figure {
                svg {
                  max-height: calc(100vh - 550px);
                }
              }
            }
          }
        }

        .slick-custom-arrow {
          display: none !important;
        }
      }
    }
  }
}

.services-image-box {
  &.loaded {
    svg .svg-elem-1 {
      stroke-dashoffset: 0;
    }

    svg .svg-elem-2 {
      stroke-dashoffset: 0;
    }

    svg .svg-elem-3 {
      stroke-dashoffset: 0;
    }

    svg .svg-elem-4 {
      stroke-dashoffset: 0;
    }

    svg .svg-elem-5 {
      stroke-dashoffset: 0;
      fill: rgb(255, 255, 255);
    }
  }

  svg .svg-elem-1 {
    stroke-dashoffset: 1511.892578125px;
    stroke-dasharray: 1511.892578125px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
      fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }

  svg .svg-elem-2 {
    stroke-dashoffset: 1500.2088623046875px;
    stroke-dasharray: 1500.2088623046875px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
      fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }

  svg .svg-elem-3 {
    stroke-dashoffset: 955.2258911132812px;
    stroke-dasharray: 955.2258911132812px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
      fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }

  svg .svg-elem-4 {
    stroke-dashoffset: 943.5411376953125px;
    stroke-dasharray: 943.5411376953125px;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
      fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }

  svg .svg-elem-5 {
    stroke-dashoffset: 65.5819206237793px;
    stroke-dasharray: 65.5819206237793px;
    fill: transparent;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
      fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
}

.services-black-banner {
  .left {
    h3 {
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin: 0;
    }
  }

  .right {
    max-width: 480px;

    .media-box {
      border-radius: 48px;
      position: relative;
      margin-top: -200px;
      overflow: hidden;
    }
  }
}

.mob-app-list-wrapper {
  margin-bottom: 100px;

  .content {
    max-width: 510px;
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .mob-app-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 887px;

    li {
      margin-right: 70px;
      margin-bottom: 65px;
    }
  }
}

.our-work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .our-work-container-left {
    padding: 100px 0;
    width: 40%;
    padding-right: 3%;

    h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 24px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 40px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .our-work-container-right {
    width: 60%;
    height: 75vh;
    overflow: hidden;

    .our-work-slider {
      display: flex;
      justify-content: space-between;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: auto;
        top: 0;
        left: 0;
        right: 0;
        height: 25%;
        background: linear-gradient(to bottom,
            #fff 10%,
            rgba(255, 255, 255, 0) 60%);
        z-index: 2;
        pointer-events: none;
      }

      &>div {
        width: 31%;
        height: 500px;
      }

      .swiper-container {
        .swiper-wrapper {
          flex-direction: column;
          -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
          position: relative;

          .item {
            .grey-box {
              width: 100%;
              height: 480px;
              border-radius: 26px;
              background: #d9d9d9;
              margin-bottom: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;

              img {
                width: 100%;
                height: 480px;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
      }
    }
  }
}

.mpa-dev-cycle {
  .image-box {
    display: table;
    margin: 0 auto;

    svg .svg-elem-1 {
      stroke-dashoffset: 30.129003806153072px;
      stroke-dasharray: 30.129003806153072px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    }

    &.loaded svg .svg-elem-1 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-2 {
      stroke-dashoffset: 259.85430908203125px;
      stroke-dasharray: 259.85430908203125px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    }

    &.loaded svg .svg-elem-2 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-3 {
      // stroke-dashoffset: 70.7174072265625px;
      // stroke-dasharray: 70.7174072265625px;
      clip-path: polygon(100% 0, 100% 1%, 100% 100%, 100% 100%);
      transition: clip-path 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    }

    &.loaded svg .svg-elem-3,
    &.loaded svg .svg-elem-9,
    &.loaded svg .svg-elem-15,
    &.loaded svg .svg-elem-21,
    &.loaded svg .svg-elem-27 {
      // stroke-dashoffset: 0;
      clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
    }

    svg .svg-elem-4 {
      stroke-dashoffset: 485.2306823730469px;
      stroke-dasharray: 485.2306823730469px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    }

    &.loaded svg .svg-elem-4 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-5 {
      stroke-dashoffset: 1958.96728515625px;
      stroke-dasharray: 1958.96728515625px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    }

    &.loaded svg .svg-elem-5 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-6 {
      stroke-dashoffset: 1629.726318359375px;
      stroke-dasharray: 1629.726318359375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    }

    &.loaded svg .svg-elem-6 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-7 {
      stroke-dashoffset: 30.129003806153072px;
      stroke-dasharray: 30.129003806153072px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    }

    &.loaded svg .svg-elem-7 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-8 {
      stroke-dashoffset: 241.50387573242188px;
      stroke-dasharray: 241.50387573242188px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    }

    &.loaded svg .svg-elem-8 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-9 {
      // stroke-dashoffset: 65.6938591003418px;
      // stroke-dasharray: 65.6938591003418px;
      clip-path: polygon(100% 0, 100% 1%, 100% 100%, 100% 100%);
      transition: clip-path 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    }

    // &.loaded svg .svg-elem-9 {
    //   stroke-dashoffset: 0;
    // }

    svg .svg-elem-10 {
      stroke-dashoffset: 388.0977478027344px;
      stroke-dasharray: 388.0977478027344px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    }

    &.loaded svg .svg-elem-10 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-11 {
      stroke-dashoffset: 447.9163818359375px;
      stroke-dasharray: 447.9163818359375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    }

    &.loaded svg .svg-elem-11 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-12 {
      stroke-dashoffset: 1098.871826171875px;
      stroke-dasharray: 1098.871826171875px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
    }

    &.loaded svg .svg-elem-12 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-13 {
      stroke-dashoffset: 30.129003806153072px;
      stroke-dasharray: 30.129003806153072px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    }

    &.loaded svg .svg-elem-13 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-14 {
      stroke-dashoffset: 247.84751892089844px;
      stroke-dasharray: 247.84751892089844px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    }

    &.loaded svg .svg-elem-14 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-15 {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: clip-path 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
    }

    // &.loaded svg .svg-elem-15 {
    //   stroke-dashoffset: 0;
    // }

    svg .svg-elem-16 {
      stroke-dashoffset: 448.935546875px;
      stroke-dasharray: 448.935546875px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
    }

    &.loaded svg .svg-elem-16 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-17 {
      stroke-dashoffset: 771.1907958984375px;
      stroke-dasharray: 771.1907958984375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
    }

    &.loaded svg .svg-elem-17 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-18 {
      stroke-dashoffset: 2588.720458984375px;
      stroke-dasharray: 2588.720458984375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
    }

    &.loaded svg .svg-elem-18 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-19 {
      stroke-dashoffset: 30.129003806153072px;
      stroke-dasharray: 30.129003806153072px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
    }

    &.loaded svg .svg-elem-19 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-20 {
      stroke-dashoffset: 255.4728546142578px;
      stroke-dasharray: 255.4728546142578px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
    }

    &.loaded svg .svg-elem-20 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-21 {
      // stroke-dashoffset: 65.69438552856445px;
      // stroke-dasharray: 65.69438552856445px;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: clip-path 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
    }

    &.loaded svg .svg-elem-21 {
      stroke-dashoffset: 0;
    }

    svg .svg-elem-22 {
      stroke-dashoffset: 245.63885498046875px;
      stroke-dasharray: 245.63885498046875px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
    }

    &.loaded svg .svg-elem-22 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-23 {
      stroke-dashoffset: 57.89079284667969px;
      stroke-dasharray: 57.89079284667969px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
    }

    &.loaded svg .svg-elem-23 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-24 {
      stroke-dashoffset: 469.6786193847656px;
      stroke-dasharray: 469.6786193847656px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
    }

    &.loaded svg .svg-elem-24 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-25 {
      stroke-dashoffset: 1295.522705078125px;
      stroke-dasharray: 1295.522705078125px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
    }

    &.loaded svg .svg-elem-25 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-26 {
      stroke-dashoffset: 30.129003806153072px;
      stroke-dasharray: 30.129003806153072px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
    }

    &.loaded svg .svg-elem-26 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-27 {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: clip-path 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
    }

    svg .svg-elem-28 {
      stroke-dashoffset: 473.64593505859375px;
      stroke-dasharray: 473.64593505859375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
    }

    &.loaded svg .svg-elem-28 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-29 {
      stroke-dashoffset: 1230.3134765625px;
      stroke-dasharray: 1230.3134765625px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
    }

    &.loaded svg .svg-elem-29 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-30 {
      stroke-dashoffset: 1315.6820068359375px;
      stroke-dasharray: 1315.6820068359375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
    }

    &.loaded svg .svg-elem-30 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }

    svg .svg-elem-31 {
      stroke-dashoffset: 836.33789375507px;
      stroke-dasharray: 836.33789375507px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s;
    }

    &.loaded svg .svg-elem-31 {
      stroke-dashoffset: 0;
      fill: rgb(255, 255, 255);
    }

    svg .svg-elem-32 {
      stroke-dashoffset: 872.7493896484375px;
      stroke-dasharray: 872.7493896484375px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
    }

    &.loaded svg .svg-elem-32 {
      stroke-dashoffset: 0;
      fill: rgb(248, 248, 248);
    }

    svg .svg-elem-33 {
      stroke-dashoffset: 4281.392578125px;
      stroke-dasharray: 4281.392578125px;
      fill: transparent;
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    }

    &.loaded svg .svg-elem-33 {
      stroke-dashoffset: 0;
      fill: rgb(0, 0, 0);
    }
  }
}