@import "../../_variables.less";
@import "../../_classes.less";

.tech-banner {
  padding: 50px 0;

  @media @mobile {
    height: auto;
  }

  p {
    font-size: 1rem;

    @media @mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .content {
    .h2 {
      font-size: 48px;
      line-height: 1.2;

      @media @mobile {
        font-size: 36px;
        line-height: 42px;
      }
    }

    p {
      color: #626262;

      @media @mobile {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .banner-col {
    margin: 0 -10px;
    padding: 50px 0 0;

    .col {
      padding: 0 10px;

      .box {
        border-radius: 36px;
        padding: 40px;

        figure {
          margin-bottom: 20px;

          *[stroke="white"] {
            stroke: black;
          }
        }

        p {
          color: #7c7c7c;
        }

        &:hover {
          background-color: black;
          color: white;

          p {
            color: #d9d9d9;
          }

          figure {
            svg {
              *[fill="black"] {
                fill: white;
              }

              *[fill="white"] {
                fill: black;
              }

              *[stroke="white"] {
                stroke: white;
              }

              *[stroke="black"] {
                stroke: white;
              }
            }
          }
        }
      }
    }
    @media @mobile {
      overflow-x: auto;
      padding-bottom: 15px;

      .col {
        min-width: 320px;
      }
    }
  }
}

.tech-custom {
  .left {
    max-width: 450px;

    .h3 {
      span {
        color: #999999;
      }
    }
  }

  .right {
    padding: 80px 0;

    @media @mobile {
      padding: 50px 0 20px;
    }

    .points {
      position: relative;

      .dot {
        position: absolute;
        left: -31px;
        top: 14px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #f48220;
      }
    }

    ul {
      margin-bottom: 50px;

      li {
        margin: 20px 0;
        font-size: 36px;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        .box {
          position: relative;
          line-height: 1;

          &.normal {
            .char {
              position: relative;
              display: inline-block;
              translate: none;
              rotate: none;
              scale: none;
              transform-origin: 0% 0% 0px;
              transform: translate(0px);
              transition: all 0.5s ease;
              transition-delay: calc(var(--char-index) * 0.02s);
            }
          }

          &.hover {
            left: 0;
            top: 0;
            position: absolute;
            color: #f48220;

            .char {
              position: relative;
              display: inline-block;
              translate: none;
              rotate: none;
              scale: none;
              transform-origin: 0% 100% 0px;
              transform: translate(0%, 10%) scale(1, 0);
              transition: all 0.5s ease;
              transition-delay: calc(var(--char-index) * 0.02s);
            }
          }
        }

        &.active {
          .box {
            &.normal {
              .char {
                transform: translate(0%, -35%) scale(1, 0);
              }
            }

            &.hover {
              .char {
                transform-origin: 0% 0% 0px;
                transform: translate(0px);
              }
            }
          }
        }
      }
    }

    .points-content {
      max-width: 310px;

      .content {
        p {
          color: #d9d9d9;
          font-size: 16px;
        }
      }
    }
  }

  .container {
    & > div {
      flex-wrap: wrap;
      .left {
        width: 100%;

        .h3 {
          font-size: 36px;
          line-height: 42.3px;
        }
      }

      .right {
        width: 100%;

        .points .dot {
          display: none;
        }

        ul {
          li {
            font-size: 33px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.digital-section {
  .digital-slider {
    padding-bottom: 50px;
    margin-top: 100px;

    @media @mobile {
      margin-top: 50px;
    }

    .item {
      // width: 12%;
      padding: 0px 40px;
      // transition: all 0.5s ease;

      @media @mobile {
        padding: 0;
      }

      .box {
        left: 50%;
        position: relative;
        transition: left 0.3s ease-in 0s;

        @media @mobile {
          left: 0;
        }
      }

      figure {
        display: flex;
        height: 110px;

        @media @mobile {
          justify-content: center;
        }

        svg,
        img {
          max-height: 100%;
        }
      }

      h3 {
        margin: 5px 0 20px;
        font-size: 24px;
      }

      .details {
        opacity: 0;
        width: 476px;
        min-height: 152px;
        transition: opacity 0.5s ease 0s;

        @media @mobile {
          max-width: 100%;
          margin-bottom: 55px;
        }

        ul {
          list-style: disc;
          margin-left: 20px;

          li {
            margin-bottom: 5px;
          }
        }

        li,
        p {
          font-size: 16px;
          color: @gray7;
        }

        .btn {
          margin-top: 30px;
        }
      }

      &.swiper-slide-active {
        // width: 40% !important;
        .box {
          left: 0;
          // transition: none;
        }

        .details {
          opacity: 1;
        }
      }

      ul {
        list-style: disc;
        margin-left: 20px;

        li {
          margin-bottom: 5px;
        }
      }

      li,
      p {
        font-size: 16px;
        color: @gray7;
      }
    }

    &.active {
      width: 40% !important;

      .details {
        opacity: 1;

        .btn {
          margin-top: 30px;
        }
      }
    }
  }
}

.fluent-section {
  background: @gray10;
  .fluent-svg {
    display: flex;
    justify-content: flex-end;
  }

  .fluent-content {
    .d-f;
    .jc-sb;
    .fxw-w;
    margin-top: 100px;
    &-left {
      width: 50%;
      max-width: 653px;

      p {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        .fw-600;
      }
    }
    &-right {
      width: 50%;
      max-width: 412px;

      p {
        margin: 0;
        font-size: 16px;
        line-height: 30px;
        .fw-300;
        color: @gray7;
      }
    }

    @media @mobile {
      margin-top: 50px;
      &-left {
        margin-bottom: 15px;
        width: 100%;
      }

      &-right {
        width: 100%;
      }
    }
  }
}

.digital-section .digital-slider .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  transition: all 0.3s ease-in;

  @media @max-screen-767 {
    left: 0;
    right: -60px;
    margin: 0 auto;
  }
}

.digital-section .digital-slider .swiper-button-prev {
  top: auto;
  bottom: 0;
  right: 90px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  transition: all 0.3s ease-in;
  left: auto;

  @media @max-screen-767 {
    left: -60px;
    right: 0;
    margin: 0 auto;
  }
}
