.life-banner {
    background: #F2F2F2;

    .item {

        .left-content {
            padding: 0 0 0 110px;

        }
    }

    html.invertMode & {
        background: black;
        color: white;
    }

    html.invertMode & {
        path {
            fill: white;
        }
    }
}

.common-content {
    padding: 100px 0;
}

.benfits-section {
    padding: 100px 0;

    .col {
        width: 45%;
        margin-bottom: 100px;

        figure {
            margin-bottom: 30px;
        }
    }

    html.invertMode & {
        svg *[stroke-width] {
            stroke: white;

        }

        svg path {
            fill: white;

            &.fillBlackOnInvert {
                fill: black;
            }
        }

        svg *[fill="#fff"] {
            fill: black;
        }

        svg *[fill="#000"] {
            fill: white;
        }
    }
}

.life-btm {
    figure {
        width: 100%;
        padding-bottom: 42%;
    }
}