.life-banner {
    background: #F2F2F2;

    .item {

        .left-content {
            padding: 0 0 0 110px;

        }
    }

    html.invertMode & {
        background: black;
        color: white;
    }

    html.invertMode & {
        path {
            fill: white;
        }
    }
}

.common-content {
    padding: 50px 0;
}