<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Technology</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/technology.css">
</head>

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper">
        <section class="tech-banner fl-fix  bannerHeight bg-light-grey text-black">

            <div class="container">
                <div class="content w50">
                    <h1 class="h5">Technology</h1>
                    <h2 class="h2">Using digital language and cutting-edge tech</h1>
                        <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking technology
                            solutions. We believe in the synergy of research, technology.</p>
                </div>
                <div class="banner-col d-f ">
                    <div class="col d-f">
                        <a class="box bg-white" href="#">
                            <figure>
                                <svg width="164" height="153" viewBox="0 0 164 153" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5319)">
                                        <path d="M37.7583 151.583V8.5835H87.4205V151.583H37.7583Z" stroke="#F8C62F" />
                                        <path d="M87.1864 8.81079H37.9927V151.356H87.1864V8.81079Z" stroke="#F8C62F"
                                            stroke-width="2" />
                                        <path d="M162.812 8.81079H113.619V151.356H162.812V8.81079Z" stroke="white"
                                            stroke-width="2" />
                                        <path d="M50.4742 0.810791H1.28052V143.356H50.4742V0.810791Z" stroke="white"
                                            stroke-width="2" />
                                        <path d="M126.835 0.810791H77.6411V143.356H126.835V0.810791Z" stroke="#F48221"
                                            stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5319">
                                            <rect width="163" height="152" fill="white"
                                                transform="translate(0.546387 0.0834961)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3 class="h5">Enterprise</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </a>
                    </div>
                    <div class="col d-f">
                        <a class="box bg-white " href="#">
                            <figure>
                                <svg width="164" height="154" viewBox="0 0 164 154" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5342)">
                                        <path
                                            d="M104.591 2.13191L1.66518 13.6371V116.591L104.591 105.086V2.13191ZM105.975 0.583496V106.325L0.280762 118.14V12.3982L105.975 0.583496Z"
                                            fill="black" />
                                        <path
                                            d="M123.693 13.9476L20.7672 25.4528V128.407L123.693 116.902V13.9476ZM125.077 12.3992V118.141L19.3828 129.955V24.2138L125.077 12.3992Z"
                                            fill="black" />
                                        <path
                                            d="M142.794 25.7613L39.8688 37.2665V140.221L142.794 128.715V25.7613ZM144.179 24.2129V129.954L38.4844 141.769V36.0276L144.179 24.2129Z"
                                            fill="black" />
                                        <path
                                            d="M161.896 37.5758L58.9704 49.0809V152.035L161.896 140.53V37.5758ZM163.28 36.0273V141.769L57.5859 153.584V47.842L163.28 36.0273Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5342">
                                            <rect width="163" height="153" fill="white"
                                                transform="translate(0.280762 0.583496)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3 class="h5">Enterprise Platforms</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </a>
                    </div>

                    <div class="col d-f">
                        <a class="box bg-white" href="#">
                            <figure>
                                <svg width="163" height="163" viewBox="0 0 163 163" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5382)">
                                        <path
                                            d="M81.8524 162.083C126.587 162.083 162.852 125.819 162.852 81.0835C162.852 36.3484 126.587 0.0834961 81.8524 0.0834961C37.1177 0.0834961 0.853027 36.3484 0.853027 81.0835C0.853027 125.819 37.1177 162.083 81.8524 162.083Z"
                                            fill="white" />
                                        <path
                                            d="M81.8524 161.448C126.236 161.448 162.216 125.468 162.216 81.0835C162.216 36.6993 126.236 0.71875 81.8524 0.71875C37.4685 0.71875 1.48828 36.6993 1.48828 81.0835C1.48828 125.468 37.4685 161.448 81.8524 161.448Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M81.8523 143.66C77.6062 143.66 73.363 143.232 69.2404 142.389C65.223 141.567 61.2713 140.34 57.4952 138.743C53.7874 137.174 50.2112 135.233 46.866 132.973C43.5523 130.735 40.4363 128.164 37.6044 125.332C34.7726 122.5 32.2016 119.384 29.963 116.07C27.703 112.725 25.7619 109.149 24.1936 105.441C22.5965 101.665 21.3698 97.713 20.5477 93.6956C19.7041 89.573 19.2764 85.3297 19.2764 81.0835C19.2764 76.8374 19.7041 72.5941 20.5477 68.4715C21.3698 64.4541 22.5965 60.5024 24.1936 56.7262C25.7619 53.0184 27.703 49.4422 29.963 46.0969C32.2016 42.7832 34.7726 39.6672 37.6044 36.8353C40.4363 34.0034 43.5523 31.4325 46.866 29.1938C50.2112 26.9337 53.7874 24.9926 57.4952 23.4244C61.2713 21.8272 65.223 20.6005 69.2404 19.7784C73.363 18.9348 77.6062 18.5071 81.8523 18.5071C86.0985 18.5071 90.3417 18.9348 94.4643 19.7784C98.4817 20.6005 102.433 21.8272 106.21 23.4244C109.917 24.9926 113.493 26.9337 116.839 29.1938C120.152 31.4325 123.268 34.0034 126.1 36.8353C128.932 39.6672 131.503 42.7832 133.742 46.0969C136.002 49.4422 137.943 53.0184 139.511 56.7262C141.108 60.5024 142.335 64.4541 143.157 68.4715C144.001 72.5941 144.428 76.8374 144.428 81.0835C144.428 85.3297 144.001 89.573 143.157 93.6956C142.335 97.713 141.108 101.665 139.511 105.441C137.943 109.149 136.002 112.725 133.742 116.07C131.503 119.384 128.932 122.5 126.1 125.332C123.268 128.164 120.152 130.735 116.839 132.973C113.493 135.233 109.917 137.174 106.21 138.743C102.433 140.34 98.4817 141.567 94.4643 142.389C90.3417 143.232 86.0985 143.66 81.8523 143.66Z"
                                            fill="white" />
                                        <path
                                            d="M81.8524 19.1424C77.649 19.1424 73.4485 19.5658 69.3678 20.4009C65.3915 21.2145 61.4802 22.4287 57.7427 24.0095C54.0727 25.5618 50.5329 27.4832 47.2216 29.7202C43.9415 31.9363 40.857 34.4813 38.0537 37.2846C35.2505 40.0878 32.7054 43.1724 30.4894 46.4526C28.2524 49.7639 26.331 53.3037 24.7788 56.9737C23.1979 60.7112 21.9838 64.6226 21.1701 68.5989C20.3351 72.6797 19.9117 76.8801 19.9117 81.0836C19.9117 85.287 20.3351 89.4875 21.1701 93.5682C21.9838 97.5446 23.1979 101.456 24.7788 105.194C26.331 108.864 28.2524 112.403 30.4894 115.715C32.7054 118.995 35.2505 122.079 38.0537 124.883C40.857 127.686 43.9415 130.231 47.2216 132.447C50.5329 134.684 54.0727 136.605 57.7427 138.158C61.4802 139.739 65.3915 140.953 69.3678 141.766C73.4485 142.601 77.649 143.025 81.8524 143.025C86.0558 143.025 90.2562 142.601 94.3369 141.766C98.3133 140.953 102.225 139.739 105.962 138.158C109.632 136.605 113.172 134.684 116.483 132.447C119.763 130.231 122.848 127.686 125.651 124.883C128.454 122.079 130.999 118.995 133.215 115.715C135.452 112.403 137.374 108.864 138.926 105.194C140.507 101.456 141.721 97.5446 142.535 93.5682C143.37 89.4875 143.793 85.287 143.793 81.0836C143.793 76.8801 143.37 72.6797 142.535 68.5989C141.721 64.6226 140.507 60.7112 138.926 56.9737C137.374 53.3037 135.452 49.7639 133.215 46.4526C130.999 43.1724 128.454 40.0878 125.651 37.2846C122.848 34.4813 119.763 31.9363 116.483 29.7202C113.172 27.4832 109.632 25.5618 105.962 24.0095C102.225 22.4287 98.3133 21.2145 94.3369 20.4009C90.2562 19.5658 86.0558 19.1424 81.8524 19.1424ZM81.8524 17.8718C116.763 17.8718 145.064 46.1727 145.064 81.0836C145.064 115.994 116.763 144.295 81.8524 144.295C46.9418 144.295 18.6411 115.994 18.6411 81.0836C18.6411 46.1727 46.9418 17.8718 81.8524 17.8718Z"
                                            fill="black" />
                                        <path
                                            d="M81.8523 124.601C105.886 124.601 125.37 105.118 125.37 81.0836C125.37 57.0494 105.886 37.5659 81.8523 37.5659C57.8183 37.5659 38.335 57.0494 38.335 81.0836C38.335 105.118 57.8183 124.601 81.8523 124.601Z"
                                            fill="white" />
                                        <path
                                            d="M81.8522 123.966C105.535 123.966 124.734 104.767 124.734 81.0835C124.734 57.4003 105.535 38.2012 81.8522 38.2012C58.1691 38.2012 38.9702 57.4003 38.9702 81.0835C38.9702 104.767 58.1691 123.966 81.8522 123.966Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M81.8526 103.636C94.3081 103.636 104.405 93.5391 104.405 81.0835C104.405 68.6278 94.3081 58.5305 81.8526 58.5305C69.397 58.5305 59.2998 68.6278 59.2998 81.0835C59.2998 93.5391 69.397 103.636 81.8526 103.636Z"
                                            fill="white" />
                                        <path
                                            d="M81.8525 103.001C93.9572 103.001 103.77 93.1882 103.77 81.0834C103.77 68.9786 93.9572 59.1658 81.8525 59.1658C69.7478 59.1658 59.9351 68.9786 59.9351 81.0834C59.9351 93.1882 69.7478 103.001 81.8525 103.001Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M82.8062 161.443V0.726074C88.0277 0.785633 93.2403 1.35144 98.3096 2.40737C103.447 3.47571 108.504 5.06146 113.339 7.12244C118.083 9.14372 122.658 11.6427 126.937 14.5487C131.175 17.4236 135.16 20.7254 138.782 24.361C142.405 27.9966 145.693 31.9932 148.555 36.243C151.445 40.5337 153.927 45.1185 155.931 49.8708C157.973 54.7112 159.542 59.7749 160.593 64.923C161.671 70.2064 162.218 75.6436 162.218 81.0833C162.218 86.523 161.671 91.9603 160.593 97.2436C159.542 102.392 157.973 107.455 155.931 112.296C153.926 117.049 151.444 121.635 148.555 125.925C145.693 130.172 142.405 134.17 138.782 137.807C135.163 141.44 131.177 144.742 126.937 147.62C122.654 150.529 118.079 153.027 113.339 155.045C108.515 157.103 103.458 158.691 98.3096 159.763C93.2425 160.818 88.0299 161.382 82.8062 161.443Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 160.798C88.4087 160.7 93.361 160.144 98.1803 159.141C103.288 158.077 108.304 156.502 113.09 154.461C117.792 152.458 122.331 149.979 126.58 147.096C130.787 144.239 134.741 140.964 138.332 137.358C141.927 133.751 145.189 129.784 148.028 125.57C150.895 121.314 153.357 116.765 155.346 112.049C157.372 107.247 158.928 102.223 159.971 97.1159C161.04 91.8748 161.583 86.481 161.583 81.0835C161.583 75.6859 161.04 70.2921 159.971 65.051C158.928 59.9438 157.372 54.9198 155.346 50.1178C153.357 45.4028 150.895 40.854 148.028 36.598C145.188 32.3829 141.927 28.4161 138.332 24.8103C134.738 21.202 130.784 17.9263 126.58 15.0737C122.335 12.1913 117.796 9.71213 113.09 7.70698C108.293 5.66337 103.277 4.08879 98.18 3.02914C93.3589 2.02532 88.4068 1.4682 83.4415 1.37142V160.798ZM82.1715 162.083L82.1709 0.0859375C87.6487 0.10579 93.1222 0.677803 98.4393 1.78585C103.62 2.86287 108.717 4.46227 113.588 6.53814C118.372 8.57679 122.983 11.0956 127.294 14.0227C131.565 16.9212 135.582 20.2491 139.232 23.9132C142.883 27.5761 146.197 31.605 149.082 35.8882C151.996 40.2137 154.497 44.8357 156.517 49.624C158.575 54.5028 160.156 59.6075 161.215 64.7966C162.302 70.1221 162.853 75.6016 162.853 81.0835C162.853 86.5653 162.302 92.0448 161.215 97.3703C160.156 102.559 158.575 107.664 156.517 112.543C154.496 117.334 151.995 121.956 149.082 126.28C146.197 130.562 142.883 134.591 139.232 138.255C135.584 141.918 131.567 145.246 127.294 148.147C122.976 151.077 118.365 153.595 113.588 155.63C108.719 157.707 103.622 159.305 98.4393 160.385C93.1265 161.49 87.6531 162.062 82.1715 162.083Z"
                                            fill="black" />
                                        <path
                                            d="M82.8062 161.443V0.726074C88.0277 0.785633 93.2403 1.35144 98.3096 2.40737C103.447 3.47571 108.504 5.06146 113.339 7.12244C118.083 9.14372 122.658 11.6427 126.937 14.5487C131.175 17.4236 135.16 20.7254 138.782 24.361C142.405 27.9966 145.693 31.9932 148.555 36.243C151.445 40.5337 153.927 45.1185 155.931 49.8708C157.973 54.7112 159.542 59.7749 160.593 64.923C161.671 70.2064 162.218 75.6436 162.218 81.0833C162.218 86.523 161.671 91.9603 160.593 97.2436C159.542 102.392 157.973 107.455 155.931 112.296C153.926 117.049 151.444 121.635 148.555 125.925C145.693 130.172 142.405 134.17 138.782 137.807C135.163 141.44 131.177 144.742 126.937 147.62C122.654 150.529 118.079 153.027 113.339 155.045C108.515 157.103 103.458 158.691 98.3096 159.763C93.2425 160.818 88.0299 161.382 82.8062 161.443Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 160.798C88.4087 160.7 93.361 160.144 98.1803 159.141C103.288 158.077 108.304 156.502 113.09 154.461C117.792 152.458 122.331 149.979 126.58 147.096C130.787 144.239 134.741 140.964 138.332 137.358C141.927 133.751 145.189 129.784 148.028 125.57C150.895 121.314 153.357 116.765 155.346 112.049C157.372 107.247 158.928 102.223 159.971 97.1159C161.04 91.8748 161.583 86.481 161.583 81.0835C161.583 75.6859 161.04 70.2921 159.971 65.051C158.928 59.9438 157.372 54.9198 155.346 50.1178C153.357 45.4028 150.895 40.854 148.028 36.598C145.188 32.3829 141.927 28.4161 138.332 24.8103C134.738 21.202 130.784 17.9263 126.58 15.0737C122.335 12.1913 117.796 9.71213 113.09 7.70698C108.293 5.66337 103.277 4.08879 98.18 3.02914C93.3589 2.02532 88.4068 1.4682 83.4415 1.37142V160.798ZM82.1715 162.083L82.1709 0.0859375C87.6487 0.10579 93.1222 0.677803 98.4393 1.78585C103.62 2.86287 108.717 4.46227 113.588 6.53814C118.372 8.57679 122.983 11.0956 127.294 14.0227C131.565 16.9212 135.582 20.2491 139.232 23.9132C142.883 27.5761 146.197 31.605 149.082 35.8882C151.996 40.2137 154.497 44.8357 156.517 49.624C158.575 54.5028 160.156 59.6075 161.215 64.7966C162.302 70.1221 162.853 75.6016 162.853 81.0835C162.853 86.5653 162.302 92.0448 161.215 97.3703C160.156 102.559 158.575 107.664 156.517 112.543C154.496 117.334 151.995 121.956 149.082 126.28C146.197 130.562 142.883 134.591 139.232 138.255C135.584 141.918 131.567 145.246 127.294 148.147C122.976 151.077 118.365 153.595 113.588 155.63C108.719 157.707 103.622 159.305 98.4393 160.385C93.1265 161.49 87.6531 162.062 82.1715 162.083Z"
                                            fill="black" />
                                        <path
                                            d="M82.8062 133.489V28.6804C86.1287 28.7325 89.445 29.0998 92.6727 29.7736C96.0166 30.4697 99.3075 31.5045 102.454 32.8483C105.541 34.166 108.519 35.7952 111.304 37.6899C114.061 39.5648 116.655 41.7176 119.013 44.0913C121.372 46.4625 123.511 49.0694 125.373 51.8401C127.254 54.6369 128.87 57.6273 130.174 60.7268C131.503 63.8859 132.524 67.1902 133.208 70.5441C133.909 73.9886 134.265 77.5335 134.265 81.0823C134.265 84.631 133.909 88.1772 133.208 91.6229C132.524 94.9781 131.503 98.2811 130.174 101.439C128.869 104.539 127.254 107.529 125.373 110.327C123.509 113.1 121.369 115.707 119.013 118.076C116.654 120.448 114.06 122.601 111.304 124.477C108.516 126.374 105.539 128.003 102.455 129.319C99.311 130.662 96.0204 131.697 92.673 132.395C89.4494 133.067 86.1334 133.434 82.8062 133.489Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 132.839C86.5115 132.752 89.5676 132.393 92.5434 131.773C95.8498 131.083 99.1001 130.062 102.205 128.734C105.252 127.435 108.193 125.826 110.946 123.951C113.67 122.098 116.232 119.972 118.563 117.628C120.89 115.288 123.004 112.712 124.846 109.973C126.704 107.209 128.299 104.254 129.588 101.193C130.902 98.0726 131.91 94.8105 132.585 91.4963C133.278 88.0927 133.63 84.5887 133.63 81.0822C133.63 77.5756 133.278 74.0728 132.585 70.6705C131.91 67.3576 130.902 64.0942 129.588 60.9724C128.3 57.9113 126.704 54.9582 124.846 52.1936C123.007 49.4577 120.893 46.8817 118.563 44.5391C116.233 42.194 113.67 40.0672 110.946 38.2159C108.195 36.3436 105.254 34.7342 102.205 33.4326C99.0966 32.1049 95.8464 31.0825 92.5427 30.3951C89.5633 29.7735 86.5078 29.4161 83.4415 29.3293V132.839ZM82.1715 134.13L82.1709 28.0388C85.7512 28.0512 89.3278 28.426 92.8027 29.1518C96.1888 29.8566 99.5198 30.9038 102.704 32.2638C105.83 33.5989 108.843 35.2479 111.661 37.165C114.452 39.0622 117.078 41.2423 119.464 43.6432C121.849 46.0417 124.015 48.6797 125.9 51.4851C127.804 54.3167 129.44 57.3442 130.759 60.4798C132.104 63.6761 133.138 67.0188 133.83 70.4174C134.541 73.9041 134.901 77.4937 134.901 81.0822C134.901 84.6743 134.541 88.2615 133.83 91.7494C133.138 95.148 132.104 98.4907 130.759 101.686C129.439 104.824 127.804 107.85 125.9 110.682C124.015 113.486 121.849 116.125 119.464 118.524C117.078 120.922 114.453 123.102 111.661 125.002C108.839 126.923 105.825 128.572 102.704 129.903C99.5216 131.263 96.1907 132.31 92.8027 133.016C89.3309 133.741 85.7537 134.116 82.1715 134.13Z"
                                            fill="black" />
                                        <path d="M82.4878 81.0835H135.217" stroke="black" stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5382">
                                            <rect width="162" height="162" fill="white"
                                                transform="translate(0.853027 0.0834961)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3 class="h5">Hybrid Logistics</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="fl-fix  bg-black section-gap text-white tech-custom">
            <div class="container">
                <div class="d-f w100 ai-c jc-sb">

                    <div class="left w35">

                        <h2 class="h3">
                            Creating <span>custom
                                solutions</span> in large
                            software systems.
                        </h2>

                    </div>
                    <div class="right w40">

                        <div class="points fw-600">
                            <span class="dot"></span>
                            <ul>
                                <li class="active">
                                    <div class="box normal " data-splitting>Scalable options.</div>
                                    <div class="box hover" data-splitting>Scalable options.</div>
                                </li>
                                <li>
                                    <div class="box normal " data-splitting>Platform delivers.</div>
                                    <div class="box hover " data-splitting>Platform delivers.</div>
                                </li>
                                <li>
                                    <div class="box normal" data-splitting>Powerful results.</div>
                                    <div class="box hover " data-splitting>Powerful results.</div>
                                </li>
                                <li>
                                    <div class="box normal" data-splitting>Latest technologies.</div>
                                    <div class="box hover" data-splitting>Latest technologies.</div>
                                </li>
                                <li>
                                    <div class="box normal " data-splitting>Protocol functions.</div>
                                    <div class="box hover " data-splitting>Protocol functions.</div>
                                </li>
                                <li>
                                    <div class="box normal" data-splitting>Business automation.</div>
                                    <div class="box hover" data-splitting>Business automation.</div>
                                </li>
                            </ul>
                        </div>

                        <div class="points-content">
                            <div class="content">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business needs.
                                </p>
                            </div>
                            <div class="content" style="display: none;">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business
                                    needs2.
                                </p>
                            </div>
                            <div class="content" style="display: none;">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business
                                    needs3.
                                </p>
                            </div>
                            <div class="content" style="display: none;">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business
                                    needs4.
                                </p>
                            </div>
                            <div class="content" style="display: none;">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business
                                    needs5.
                                </p>
                            </div>
                            <div class="content" style="display: none;">
                                <p>
                                    We leverage our experience and continued learning in the most relevant programming
                                    languages to provide the most current solutions for the most complex business
                                    needs6.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <section class="fl-fix section-gap digital-section ">
            <div class="container">
                <h2 class="h2">We speak a digital language</h2>

                <div class="digital-slider-section">
                    <div class="digital-slider swiper-container pos-r w100 ov-h">
                        <div class="swiper-wrapper ">
                            <div class="item swiper-slide active">
                                <div class="box">

                               
                                <figure>
                                    <a href="#">

                                        <svg width="106" height="95" viewBox="0 0 106 95" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M105.766 47.6313C105.766 40.6785 97.0612 34.0894 83.7145 30.0033C86.7945 16.3971 85.4256 5.5721 79.394 2.10638C78.0037 1.29344 76.3781 0.908356 74.6029 0.908356V5.67906C75.5867 5.67906 76.3781 5.8716 77.0412 6.23529C79.9501 7.90397 81.212 14.2578 80.2281 22.43C79.9929 24.441 79.6079 26.5589 79.1373 28.7197C74.9451 27.6928 70.3679 26.9012 65.5553 26.3878C62.6678 22.43 59.6734 18.8359 56.6576 15.6911C63.6303 9.20896 70.1754 5.65767 74.6242 5.65767V0.886963C68.7423 0.886963 61.0423 5.08005 53.2567 12.3538C45.4712 5.12284 37.7712 0.972536 31.8892 0.972536V5.74324C36.3167 5.74324 42.8831 9.27314 49.8559 15.7125C46.8614 18.8573 43.867 22.43 41.0223 26.3878C36.1884 26.9012 31.6112 27.6928 27.4189 28.741C26.927 26.6017 26.5634 24.5266 26.3067 22.537C25.3014 14.3647 26.542 8.01093 29.4295 6.32086C30.0712 5.93578 30.9053 5.76464 31.8892 5.76464V0.993929C30.0925 0.993929 28.467 1.37901 27.0553 2.19195C21.045 5.65767 19.6975 16.4613 22.7989 30.0246C9.49503 34.1322 0.83252 40.6999 0.83252 47.6313C0.83252 54.5842 9.5378 61.1733 22.8845 65.2594C19.8045 78.8656 21.1734 89.6906 27.205 93.1563C28.5953 93.9692 30.2209 94.3543 32.0175 94.3543C37.8995 94.3543 45.5995 90.1612 53.3851 82.8875C61.1706 90.1184 68.8706 94.2687 74.7526 94.2687C76.5492 94.2687 78.1748 93.8837 79.5865 93.0707C85.5968 89.605 86.9443 78.8014 83.8429 65.238C97.104 61.1519 105.766 54.5628 105.766 47.6313ZM77.9181 33.362C77.1267 36.1217 76.1429 38.967 75.0306 41.8124C74.1537 40.1009 73.234 38.3894 72.2287 36.678C71.2448 34.9665 70.1967 33.2978 69.1487 31.6719C72.1859 32.1212 75.1162 32.6774 77.9181 33.362ZM68.122 56.1459C66.4537 59.034 64.7426 61.7723 62.9673 64.3181C59.7803 64.5962 56.5506 64.746 53.2995 64.746C50.0698 64.746 46.8401 64.5962 43.6745 64.3395C41.8992 61.7937 40.1667 59.0768 38.4984 56.2101C36.8728 53.4075 35.397 50.5622 34.0495 47.6955C35.3756 44.8288 36.8728 41.9621 38.477 39.1596C40.1453 36.2715 41.8564 33.5331 43.6317 30.9873C46.8187 30.7092 50.0484 30.5595 53.2995 30.5595C56.5292 30.5595 59.759 30.7092 62.9245 30.966C64.6998 33.5118 66.4323 36.2287 68.1006 39.0954C69.7262 41.8979 71.202 44.7432 72.5495 47.6099C71.202 50.4766 69.7262 53.3433 68.122 56.1459ZM75.0306 53.3647C76.1856 56.2314 77.1695 59.0982 77.9823 61.8793C75.1804 62.5639 72.2287 63.1415 69.1701 63.5907C70.2181 61.9435 71.2662 60.2534 72.2501 58.5205C73.234 56.8091 74.1537 55.0762 75.0306 53.3647ZM53.3423 76.1914C51.3531 74.1376 49.3639 71.8486 47.3962 69.3455C49.3212 69.4311 51.2889 69.4953 53.2781 69.4953C55.2887 69.4953 57.2778 69.4525 59.2242 69.3455C57.2992 71.8486 55.3101 74.1376 53.3423 76.1914ZM37.4289 63.5907C34.3917 63.1415 31.4614 62.5853 28.6595 61.9007C29.4509 59.1409 30.4348 56.2956 31.547 53.4503C32.4239 55.1618 33.3437 56.8732 34.3489 58.5847C35.3542 60.2962 36.3809 61.9649 37.4289 63.5907ZM53.2353 19.0713C55.2245 21.125 57.2137 23.4141 59.1815 25.9171C57.2565 25.8316 55.2887 25.7674 53.2995 25.7674C51.289 25.7674 49.2998 25.8102 47.3534 25.9171C49.2784 23.4141 51.2676 21.125 53.2353 19.0713ZM37.4076 31.6719C36.3595 33.3192 35.3114 35.0093 34.3275 36.7421C33.3437 38.4536 32.4239 40.1651 31.547 41.8765C30.392 39.0098 29.4081 36.1431 28.5953 33.362C31.3973 32.6988 34.3489 32.1212 37.4076 31.6719ZM18.0506 58.4564C10.4789 55.226 5.58086 50.9901 5.58086 47.6313C5.58086 44.2726 10.4789 40.0153 18.0506 36.8063C19.89 36.0148 21.9006 35.3088 23.9753 34.6456C25.1945 38.8387 26.7987 43.2029 28.7878 47.6741C26.82 52.1239 25.2373 56.4668 24.0395 60.6385C21.922 59.9753 19.9114 59.2479 18.0506 58.4564ZM29.5578 89.0274C26.6489 87.3587 25.387 81.0049 26.3709 72.8326C26.6062 70.8217 26.9912 68.7037 27.4617 66.543C31.6539 67.5699 36.2312 68.3615 41.0437 68.8749C43.9312 72.8326 46.9256 76.4267 49.9414 79.5715C42.9687 86.0537 36.4237 89.605 31.9748 89.605C31.0123 89.5836 30.1995 89.3911 29.5578 89.0274ZM80.2923 72.7257C81.2976 80.8979 80.057 87.2517 77.1695 88.9418C76.5278 89.3269 75.6937 89.498 74.7098 89.498C70.2823 89.498 63.7159 85.9681 56.7431 79.5288C59.7376 76.3839 62.732 72.8113 65.5767 68.8535C70.4106 68.3401 74.9879 67.5485 79.1801 66.5002C79.672 68.661 80.057 70.7361 80.2923 72.7257ZM88.527 58.4564C86.6876 59.2479 84.677 59.9539 82.6023 60.6171C81.3831 56.424 79.779 52.0597 77.7898 47.5885C79.7576 43.1387 81.3404 38.7959 82.5381 34.6242C84.6556 35.2874 86.6662 36.0148 88.5484 36.8063C96.1201 40.0367 101.018 44.2726 101.018 47.6313C100.997 50.9901 96.0987 55.2474 88.527 58.4564Z"
                                                fill="black" />
                                            <path
                                                d="M53.2781 57.4081C58.6766 57.4081 63.0529 53.0309 63.0529 47.6314C63.0529 42.2318 58.6766 37.8546 53.2781 37.8546C47.8797 37.8546 43.5034 42.2318 43.5034 47.6314C43.5034 53.0309 47.8797 57.4081 53.2781 57.4081Z"
                                                fill="black" />
                                        </svg>


                                    </a>
                                </figure>
                                <h3>React</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                 </div>
                            </div>

                            <div class="item swiper-slide">
                                 <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="93" height="95" viewBox="0 0 93 95" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M44.2827 69.0707C47.9084 68.5977 51.4092 67.4875 54.5819 65.7087C62.4191 61.3089 66.9449 53.7464 67.3295 44.413L67.3627 43.6058H78.2086C77.5414 38.2095 75.5233 33.0694 72.3415 28.6626L61.2457 35.8478C64.6234 41.1859 65.0569 47.1026 62.4952 53.0134C59.4572 60.0149 52.3015 66.1485 44.2827 69.0707Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M78.3724 45.2905H68.9538C68.3192 54.7314 63.4088 62.6809 55.394 67.1805C50.8193 69.7469 45.6121 71.0252 40.2956 71.0252C36.0857 71.0139 31.913 70.2357 27.9814 68.7285C32.8001 71.7621 38.2162 73.4216 43.8276 73.4392H43.9135C54.0448 73.4392 63.1394 68.0307 68.2548 58.9612L68.6882 58.195L74.9908 62.2255C77.2787 57.6986 78.4686 52.6957 78.4642 47.6224C78.4642 46.8366 78.4252 46.0607 78.3724 45.2905Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M43.9138 75.1222H43.824C33.7298 75.0929 24.2448 70.0519 17.4951 61.3714C22.6242 72.3212 33.6732 79.9189 46.454 79.9189C58.3015 79.9189 68.6573 73.3865 74.1925 63.7091L69.2645 60.5582C63.7742 69.7 54.3673 75.1222 43.9138 75.1222Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M46.4539 0.885254C20.8689 0.885254 0.129883 21.8096 0.129883 47.6205C0.129883 73.4314 20.8689 94.3558 46.4539 94.3558C72.037 94.3558 92.776 73.4334 92.776 47.6205C92.776 21.8076 72.0389 0.885254 46.4539 0.885254ZM46.4539 81.6038C27.8509 81.6038 12.7701 66.3889 12.7701 47.6205C12.7701 28.8541 27.8509 13.6392 46.4539 13.6392C65.055 13.6392 80.1338 28.8541 80.1338 47.6205C80.1338 66.3889 65.055 81.6038 46.4539 81.6038Z"
                                                fill="black" />
                                        </svg>


                                    </a>
                                </figure>
                                <h3>Sitecore</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>
                            <div class="item swiper-slide">
                                 <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="92" height="97" viewBox="0 0 92 97" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.05592 75.611L46.1303 96.4764L84.4008 75.3283L91.535 16.3318L46.0823 0.764648L0.918945 16.6122L8.05592 75.611Z"
                                                fill="black" />
                                            <path
                                                d="M45.9771 91.4912L80.3816 72.5057L87.0303 19.7414L45.9771 5.78247V91.4912Z"
                                                fill="white" />
                                            <path
                                                d="M45.9761 91.4911V5.78076L5.98682 19.9929L12.1024 72.7578L45.9761 91.4911Z"
                                                fill="white" />
                                            <path
                                                d="M57.2769 51.4093L45.9763 56.6782H34.0657L28.4668 70.6415L18.0527 70.8338L45.9763 8.89478L57.2769 51.4093ZM56.1845 48.7566L46.0512 28.7544L37.7393 48.4124H45.9758L56.1845 48.7566Z"
                                                fill="black" />
                                            <path
                                                d="M55.4824 48.4277H45.9974L45.9761 56.6657L59.0916 56.6782L65.2214 70.8359L75.1859 71.02L45.9761 8.89478L46.0509 28.7544L55.4824 48.4277Z"
                                                fill="black" />
                                        </svg>

                                    </a>
                                </figure>
                                <h3>Angular JS</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>
                            <div class="item swiper-slide">
                                  <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="113" height="110" viewBox="0 0 113 110" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M87.5468 31.2927C87.5468 47.6398 74.2703 60.8964 57.8874 60.8964C41.5044 60.8964 28.228 47.6398 28.228 31.2927C28.228 14.9455 41.5044 1.68896 57.8874 1.68896C74.2703 1.68896 87.5468 14.9455 87.5468 31.2927Z"
                                                fill="white" stroke="black" stroke-width="3" />
                                            <path
                                                d="M110.916 59.8045C110.916 74.7201 98.8022 86.8162 83.8533 86.8162C68.9044 86.8162 56.7905 74.7201 56.7905 59.8045C56.7905 44.8888 68.9044 32.7927 83.8533 32.7927C98.8022 32.7927 110.916 44.8888 110.916 59.8045Z"
                                                fill="white" stroke="black" stroke-width="3" />
                                            <path
                                                d="M82.8533 87.0202C82.8533 98.634 73.4211 108.052 61.7821 108.052C50.1432 108.052 40.7109 98.634 40.7109 87.0202C40.7109 75.4063 50.1432 65.9884 61.7821 65.9884C73.4211 65.9884 82.8533 75.4063 82.8533 87.0202Z"
                                                fill="white" stroke="black" stroke-width="2" />
                                            <path
                                                d="M5.52131 26.1086H53.1276C55.7563 26.1086 57.8872 28.2358 57.8872 30.8597V78.381C57.8872 81.005 55.7563 83.1321 53.1276 83.1321H5.52131C2.89266 83.1321 0.761719 81.005 0.761719 78.381V30.8597C0.761719 28.2358 2.89266 26.1086 5.52131 26.1086Z"
                                                fill="black" />
                                            <path
                                                d="M22.0201 54.0398C20.9047 53.3013 19.973 52.3181 19.2962 51.1653C18.6405 49.9602 18.3137 48.6042 18.3485 47.2333C18.2901 45.3771 18.9176 43.5643 20.1115 42.14C21.3662 40.7141 22.988 39.6581 24.801 39.0867C26.8674 38.4078 29.0316 38.0732 31.2069 38.0966C34.0674 37.9922 36.924 38.3915 39.6458 39.2759V45.2375C38.4632 44.5223 37.1751 43.9975 35.8288 43.6823C34.3681 43.3247 32.8692 43.1454 31.3652 43.1483C29.7792 43.0902 28.2034 43.4232 26.777 44.1178C25.6758 44.5919 24.9617 45.6733 24.9594 46.8704C24.9549 47.5966 25.2344 48.2959 25.7384 48.8196C26.3337 49.437 27.0378 49.9396 27.8157 50.3022C28.6812 50.7325 29.9795 51.3045 31.7106 52.0182C31.9012 52.0783 32.087 52.1528 32.2663 52.2411C33.97 52.9057 35.6136 53.7148 37.1791 54.6594C38.3646 55.389 39.3596 56.3893 40.0821 57.5779C40.8229 58.9253 41.1819 60.4486 41.1208 61.9843C41.2053 63.89 40.6212 65.7655 39.4693 67.2875C38.3211 68.6867 36.786 69.718 35.055 70.2527C33.0191 70.8897 30.8942 71.1977 28.7608 71.1651C26.8468 71.1737 24.9355 71.0177 23.0483 70.6985C21.4548 70.4382 19.8998 69.9821 18.4186 69.3403V63.0548C19.8344 64.0641 21.4162 64.8186 23.0925 65.2839C24.7631 65.8035 26.4997 66.0811 28.2494 66.1081C29.8687 66.2105 31.4852 65.8681 32.9233 65.118C33.9307 64.5505 34.5434 63.4757 34.5176 62.3213C34.5243 61.518 34.206 60.746 33.6348 60.1803C32.9244 59.4842 32.1019 58.912 31.2018 58.4877C30.1631 57.9693 28.6337 57.2859 26.6135 56.4375C25.0064 55.7925 23.4677 54.9893 22.0201 54.0398Z"
                                                fill="white" />
                                        </svg>

                                    </a>
                                </figure>
                                <h3>Share Point</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>

                            <div class="item swiper-slide">
                                  <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="106" height="95" viewBox="0 0 106 95" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M105.766 47.6313C105.766 40.6785 97.0612 34.0894 83.7145 30.0033C86.7945 16.3971 85.4256 5.5721 79.394 2.10638C78.0037 1.29344 76.3781 0.908356 74.6029 0.908356V5.67906C75.5867 5.67906 76.3781 5.8716 77.0412 6.23529C79.9501 7.90397 81.212 14.2578 80.2281 22.43C79.9929 24.441 79.6079 26.5589 79.1373 28.7197C74.9451 27.6928 70.3679 26.9012 65.5553 26.3878C62.6678 22.43 59.6734 18.8359 56.6576 15.6911C63.6303 9.20896 70.1754 5.65767 74.6242 5.65767V0.886963C68.7423 0.886963 61.0423 5.08005 53.2567 12.3538C45.4712 5.12284 37.7712 0.972536 31.8892 0.972536V5.74324C36.3167 5.74324 42.8831 9.27314 49.8559 15.7125C46.8614 18.8573 43.867 22.43 41.0223 26.3878C36.1884 26.9012 31.6112 27.6928 27.4189 28.741C26.927 26.6017 26.5634 24.5266 26.3067 22.537C25.3014 14.3647 26.542 8.01093 29.4295 6.32086C30.0712 5.93578 30.9053 5.76464 31.8892 5.76464V0.993929C30.0925 0.993929 28.467 1.37901 27.0553 2.19195C21.045 5.65767 19.6975 16.4613 22.7989 30.0246C9.49503 34.1322 0.83252 40.6999 0.83252 47.6313C0.83252 54.5842 9.5378 61.1733 22.8845 65.2594C19.8045 78.8656 21.1734 89.6906 27.205 93.1563C28.5953 93.9692 30.2209 94.3543 32.0175 94.3543C37.8995 94.3543 45.5995 90.1612 53.3851 82.8875C61.1706 90.1184 68.8706 94.2687 74.7526 94.2687C76.5492 94.2687 78.1748 93.8837 79.5865 93.0707C85.5968 89.605 86.9443 78.8014 83.8429 65.238C97.104 61.1519 105.766 54.5628 105.766 47.6313ZM77.9181 33.362C77.1267 36.1217 76.1429 38.967 75.0306 41.8124C74.1537 40.1009 73.234 38.3894 72.2287 36.678C71.2448 34.9665 70.1967 33.2978 69.1487 31.6719C72.1859 32.1212 75.1162 32.6774 77.9181 33.362ZM68.122 56.1459C66.4537 59.034 64.7426 61.7723 62.9673 64.3181C59.7803 64.5962 56.5506 64.746 53.2995 64.746C50.0698 64.746 46.8401 64.5962 43.6745 64.3395C41.8992 61.7937 40.1667 59.0768 38.4984 56.2101C36.8728 53.4075 35.397 50.5622 34.0495 47.6955C35.3756 44.8288 36.8728 41.9621 38.477 39.1596C40.1453 36.2715 41.8564 33.5331 43.6317 30.9873C46.8187 30.7092 50.0484 30.5595 53.2995 30.5595C56.5292 30.5595 59.759 30.7092 62.9245 30.966C64.6998 33.5118 66.4323 36.2287 68.1006 39.0954C69.7262 41.8979 71.202 44.7432 72.5495 47.6099C71.202 50.4766 69.7262 53.3433 68.122 56.1459ZM75.0306 53.3647C76.1856 56.2314 77.1695 59.0982 77.9823 61.8793C75.1804 62.5639 72.2287 63.1415 69.1701 63.5907C70.2181 61.9435 71.2662 60.2534 72.2501 58.5205C73.234 56.8091 74.1537 55.0762 75.0306 53.3647ZM53.3423 76.1914C51.3531 74.1376 49.3639 71.8486 47.3962 69.3455C49.3212 69.4311 51.2889 69.4953 53.2781 69.4953C55.2887 69.4953 57.2778 69.4525 59.2242 69.3455C57.2992 71.8486 55.3101 74.1376 53.3423 76.1914ZM37.4289 63.5907C34.3917 63.1415 31.4614 62.5853 28.6595 61.9007C29.4509 59.1409 30.4348 56.2956 31.547 53.4503C32.4239 55.1618 33.3437 56.8732 34.3489 58.5847C35.3542 60.2962 36.3809 61.9649 37.4289 63.5907ZM53.2353 19.0713C55.2245 21.125 57.2137 23.4141 59.1815 25.9171C57.2565 25.8316 55.2887 25.7674 53.2995 25.7674C51.289 25.7674 49.2998 25.8102 47.3534 25.9171C49.2784 23.4141 51.2676 21.125 53.2353 19.0713ZM37.4076 31.6719C36.3595 33.3192 35.3114 35.0093 34.3275 36.7421C33.3437 38.4536 32.4239 40.1651 31.547 41.8765C30.392 39.0098 29.4081 36.1431 28.5953 33.362C31.3973 32.6988 34.3489 32.1212 37.4076 31.6719ZM18.0506 58.4564C10.4789 55.226 5.58086 50.9901 5.58086 47.6313C5.58086 44.2726 10.4789 40.0153 18.0506 36.8063C19.89 36.0148 21.9006 35.3088 23.9753 34.6456C25.1945 38.8387 26.7987 43.2029 28.7878 47.6741C26.82 52.1239 25.2373 56.4668 24.0395 60.6385C21.922 59.9753 19.9114 59.2479 18.0506 58.4564ZM29.5578 89.0274C26.6489 87.3587 25.387 81.0049 26.3709 72.8326C26.6062 70.8217 26.9912 68.7037 27.4617 66.543C31.6539 67.5699 36.2312 68.3615 41.0437 68.8749C43.9312 72.8326 46.9256 76.4267 49.9414 79.5715C42.9687 86.0537 36.4237 89.605 31.9748 89.605C31.0123 89.5836 30.1995 89.3911 29.5578 89.0274ZM80.2923 72.7257C81.2976 80.8979 80.057 87.2517 77.1695 88.9418C76.5278 89.3269 75.6937 89.498 74.7098 89.498C70.2823 89.498 63.7159 85.9681 56.7431 79.5288C59.7376 76.3839 62.732 72.8113 65.5767 68.8535C70.4106 68.3401 74.9879 67.5485 79.1801 66.5002C79.672 68.661 80.057 70.7361 80.2923 72.7257ZM88.527 58.4564C86.6876 59.2479 84.677 59.9539 82.6023 60.6171C81.3831 56.424 79.779 52.0597 77.7898 47.5885C79.7576 43.1387 81.3404 38.7959 82.5381 34.6242C84.6556 35.2874 86.6662 36.0148 88.5484 36.8063C96.1201 40.0367 101.018 44.2726 101.018 47.6313C100.997 50.9901 96.0987 55.2474 88.527 58.4564Z"
                                                fill="black" />
                                            <path
                                                d="M53.2781 57.4081C58.6766 57.4081 63.0529 53.0309 63.0529 47.6314C63.0529 42.2318 58.6766 37.8546 53.2781 37.8546C47.8797 37.8546 43.5034 42.2318 43.5034 47.6314C43.5034 53.0309 47.8797 57.4081 53.2781 57.4081Z"
                                                fill="black" />
                                        </svg>


                                    </a>
                                </figure>
                                <h3>React</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>

                            <div class="item swiper-slide">
                               <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="93" height="95" viewBox="0 0 93 95" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M44.2827 69.0707C47.9084 68.5977 51.4092 67.4875 54.5819 65.7087C62.4191 61.3089 66.9449 53.7464 67.3295 44.413L67.3627 43.6058H78.2086C77.5414 38.2095 75.5233 33.0694 72.3415 28.6626L61.2457 35.8478C64.6234 41.1859 65.0569 47.1026 62.4952 53.0134C59.4572 60.0149 52.3015 66.1485 44.2827 69.0707Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M78.3724 45.2905H68.9538C68.3192 54.7314 63.4088 62.6809 55.394 67.1805C50.8193 69.7469 45.6121 71.0252 40.2956 71.0252C36.0857 71.0139 31.913 70.2357 27.9814 68.7285C32.8001 71.7621 38.2162 73.4216 43.8276 73.4392H43.9135C54.0448 73.4392 63.1394 68.0307 68.2548 58.9612L68.6882 58.195L74.9908 62.2255C77.2787 57.6986 78.4686 52.6957 78.4642 47.6224C78.4642 46.8366 78.4252 46.0607 78.3724 45.2905Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M43.9138 75.1222H43.824C33.7298 75.0929 24.2448 70.0519 17.4951 61.3714C22.6242 72.3212 33.6732 79.9189 46.454 79.9189C58.3015 79.9189 68.6573 73.3865 74.1925 63.7091L69.2645 60.5582C63.7742 69.7 54.3673 75.1222 43.9138 75.1222Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M46.4539 0.885254C20.8689 0.885254 0.129883 21.8096 0.129883 47.6205C0.129883 73.4314 20.8689 94.3558 46.4539 94.3558C72.037 94.3558 92.776 73.4334 92.776 47.6205C92.776 21.8076 72.0389 0.885254 46.4539 0.885254ZM46.4539 81.6038C27.8509 81.6038 12.7701 66.3889 12.7701 47.6205C12.7701 28.8541 27.8509 13.6392 46.4539 13.6392C65.055 13.6392 80.1338 28.8541 80.1338 47.6205C80.1338 66.3889 65.055 81.6038 46.4539 81.6038Z"
                                                fill="black" />
                                        </svg>


                                    </a>
                                </figure>
                                <h3>Sitecore</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>
                            <div class="item swiper-slide">
                                  <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="92" height="97" viewBox="0 0 92 97" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8.05592 75.611L46.1303 96.4764L84.4008 75.3283L91.535 16.3318L46.0823 0.764648L0.918945 16.6122L8.05592 75.611Z"
                                                fill="black" />
                                            <path
                                                d="M45.9771 91.4912L80.3816 72.5057L87.0303 19.7414L45.9771 5.78247V91.4912Z"
                                                fill="white" />
                                            <path
                                                d="M45.9761 91.4911V5.78076L5.98682 19.9929L12.1024 72.7578L45.9761 91.4911Z"
                                                fill="white" />
                                            <path
                                                d="M57.2769 51.4093L45.9763 56.6782H34.0657L28.4668 70.6415L18.0527 70.8338L45.9763 8.89478L57.2769 51.4093ZM56.1845 48.7566L46.0512 28.7544L37.7393 48.4124H45.9758L56.1845 48.7566Z"
                                                fill="black" />
                                            <path
                                                d="M55.4824 48.4277H45.9974L45.9761 56.6657L59.0916 56.6782L65.2214 70.8359L75.1859 71.02L45.9761 8.89478L46.0509 28.7544L55.4824 48.4277Z"
                                                fill="black" />
                                        </svg>

                                    </a>
                                </figure>
                                 <h3>Angular JS</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>
                            <div class="item swiper-slide">
                                 <div class="box">
                                <figure>
                                    <a href="#">

                                        <svg width="113" height="110" viewBox="0 0 113 110" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M87.5468 31.2927C87.5468 47.6398 74.2703 60.8964 57.8874 60.8964C41.5044 60.8964 28.228 47.6398 28.228 31.2927C28.228 14.9455 41.5044 1.68896 57.8874 1.68896C74.2703 1.68896 87.5468 14.9455 87.5468 31.2927Z"
                                                fill="white" stroke="black" stroke-width="3" />
                                            <path
                                                d="M110.916 59.8045C110.916 74.7201 98.8022 86.8162 83.8533 86.8162C68.9044 86.8162 56.7905 74.7201 56.7905 59.8045C56.7905 44.8888 68.9044 32.7927 83.8533 32.7927C98.8022 32.7927 110.916 44.8888 110.916 59.8045Z"
                                                fill="white" stroke="black" stroke-width="3" />
                                            <path
                                                d="M82.8533 87.0202C82.8533 98.634 73.4211 108.052 61.7821 108.052C50.1432 108.052 40.7109 98.634 40.7109 87.0202C40.7109 75.4063 50.1432 65.9884 61.7821 65.9884C73.4211 65.9884 82.8533 75.4063 82.8533 87.0202Z"
                                                fill="white" stroke="black" stroke-width="2" />
                                            <path
                                                d="M5.52131 26.1086H53.1276C55.7563 26.1086 57.8872 28.2358 57.8872 30.8597V78.381C57.8872 81.005 55.7563 83.1321 53.1276 83.1321H5.52131C2.89266 83.1321 0.761719 81.005 0.761719 78.381V30.8597C0.761719 28.2358 2.89266 26.1086 5.52131 26.1086Z"
                                                fill="black" />
                                            <path
                                                d="M22.0201 54.0398C20.9047 53.3013 19.973 52.3181 19.2962 51.1653C18.6405 49.9602 18.3137 48.6042 18.3485 47.2333C18.2901 45.3771 18.9176 43.5643 20.1115 42.14C21.3662 40.7141 22.988 39.6581 24.801 39.0867C26.8674 38.4078 29.0316 38.0732 31.2069 38.0966C34.0674 37.9922 36.924 38.3915 39.6458 39.2759V45.2375C38.4632 44.5223 37.1751 43.9975 35.8288 43.6823C34.3681 43.3247 32.8692 43.1454 31.3652 43.1483C29.7792 43.0902 28.2034 43.4232 26.777 44.1178C25.6758 44.5919 24.9617 45.6733 24.9594 46.8704C24.9549 47.5966 25.2344 48.2959 25.7384 48.8196C26.3337 49.437 27.0378 49.9396 27.8157 50.3022C28.6812 50.7325 29.9795 51.3045 31.7106 52.0182C31.9012 52.0783 32.087 52.1528 32.2663 52.2411C33.97 52.9057 35.6136 53.7148 37.1791 54.6594C38.3646 55.389 39.3596 56.3893 40.0821 57.5779C40.8229 58.9253 41.1819 60.4486 41.1208 61.9843C41.2053 63.89 40.6212 65.7655 39.4693 67.2875C38.3211 68.6867 36.786 69.718 35.055 70.2527C33.0191 70.8897 30.8942 71.1977 28.7608 71.1651C26.8468 71.1737 24.9355 71.0177 23.0483 70.6985C21.4548 70.4382 19.8998 69.9821 18.4186 69.3403V63.0548C19.8344 64.0641 21.4162 64.8186 23.0925 65.2839C24.7631 65.8035 26.4997 66.0811 28.2494 66.1081C29.8687 66.2105 31.4852 65.8681 32.9233 65.118C33.9307 64.5505 34.5434 63.4757 34.5176 62.3213C34.5243 61.518 34.206 60.746 33.6348 60.1803C32.9244 59.4842 32.1019 58.912 31.2018 58.4877C30.1631 57.9693 28.6337 57.2859 26.6135 56.4375C25.0064 55.7925 23.4677 54.9893 22.0201 54.0398Z"
                                                fill="white" />
                                        </svg>

                                    </a>
                                </figure>
                                <h3>Share Point</h3>
                                <div class="details">
                                    <ul>
                                        <li>Better user experience and faster development</li>
                                        <li>Reusability of code components</li>
                                        <li>Ensures readability and makes maintainability easier</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                                </div>
                            </div>

                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="19.5"
                                height="17.27" viewBox="0 0 19.5 17.27">
                                <path id="Path_212" data-name="Path 212"
                                    d="M200.814,156.508l.812-.949,6.587-7.685,2.23,1.9-4.517,5.272h14.387v2.928H205.926l4.517,5.272-2.23,1.9-6.587-7.685Z"
                                    transform="translate(-200.814 -147.873)" />
                            </svg></div>
                        <div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="16.325"
                                height="14.458" viewBox="0 0 16.325 14.458">
                                <path id="Path_211" data-name="Path 211"
                                    d="M217.139,155.1l-.68-.795-5.515-6.434-1.867,1.589,3.782,4.414H200.814v2.451h12.045l-3.782,4.414,1.867,1.589,5.515-6.434Z"
                                    transform="translate(-200.814 -147.873)" fill="#fff" />
                            </svg></div>



                    </div>
                </div>

            </div>
        </section>

    </div>

    {{> footer }}
    <link rel="stylesheet" href="dist/css/swiper-bundle.min.css" />
    <script src="dist/js/swiper-bundle.min.js"></script>
    <script src="dist/js/splitting.min.js"></script>
    <script src="dist/js/jquery.fancybox.js"></script>

    {{> script }}



</body>
<!-- Body End-->

</html>
<!-- HTML End-->