<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Technology</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/technology.css">
</head>

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper">
        <section class="tech-banner bannerHeight bg-light-grey">

            <div class="container">
                <div class="content w40">
                    <h1 class="h5">Technology</h1>
                    <h2 class="h2">Using digital language and cutting-edge tech</h1>
                        <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking technology
                            solutions. We believe in the synergy of research, technology.</p>
                </div>
                <div class="banner-col d-f ">
                    <div class="col d-f">
                        <div class="box">
                            <figure>
                                <svg width="164" height="153" viewBox="0 0 164 153" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5319)">
                                        <path d="M37.7583 151.583V8.5835H87.4205V151.583H37.7583Z" stroke="#F8C62F" />
                                        <path d="M87.1864 8.81079H37.9927V151.356H87.1864V8.81079Z" stroke="#F8C62F"
                                            stroke-width="2" />
                                        <path d="M162.812 8.81079H113.619V151.356H162.812V8.81079Z" stroke="white"
                                            stroke-width="2" />
                                        <path d="M50.4742 0.810791H1.28052V143.356H50.4742V0.810791Z" stroke="white"
                                            stroke-width="2" />
                                        <path d="M126.835 0.810791H77.6411V143.356H126.835V0.810791Z" stroke="#F48221"
                                            stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5319">
                                            <rect width="163" height="152" fill="white"
                                                transform="translate(0.546387 0.0834961)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3>Enterprise</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </div>
                    </div>
                    <div class="col d-f">
                        <div class="box">
                            <figure>
                                <svg width="164" height="154" viewBox="0 0 164 154" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5342)">
                                        <path
                                            d="M104.591 2.13191L1.66518 13.6371V116.591L104.591 105.086V2.13191ZM105.975 0.583496V106.325L0.280762 118.14V12.3982L105.975 0.583496Z"
                                            fill="black" />
                                        <path
                                            d="M123.693 13.9476L20.7672 25.4528V128.407L123.693 116.902V13.9476ZM125.077 12.3992V118.141L19.3828 129.955V24.2138L125.077 12.3992Z"
                                            fill="black" />
                                        <path
                                            d="M142.794 25.7613L39.8688 37.2665V140.221L142.794 128.715V25.7613ZM144.179 24.2129V129.954L38.4844 141.769V36.0276L144.179 24.2129Z"
                                            fill="black" />
                                        <path
                                            d="M161.896 37.5758L58.9704 49.0809V152.035L161.896 140.53V37.5758ZM163.28 36.0273V141.769L57.5859 153.584V47.842L163.28 36.0273Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5342">
                                            <rect width="163" height="153" fill="white"
                                                transform="translate(0.280762 0.583496)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3>Enterprise Platforms</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </div>
                    </div>

                    <div class="col d-f">
                        <div class="box">
                            <figure>
                                <svg width="163" height="163" viewBox="0 0 163 163" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_5382)">
                                        <path
                                            d="M81.8524 162.083C126.587 162.083 162.852 125.819 162.852 81.0835C162.852 36.3484 126.587 0.0834961 81.8524 0.0834961C37.1177 0.0834961 0.853027 36.3484 0.853027 81.0835C0.853027 125.819 37.1177 162.083 81.8524 162.083Z"
                                            fill="white" />
                                        <path
                                            d="M81.8524 161.448C126.236 161.448 162.216 125.468 162.216 81.0835C162.216 36.6993 126.236 0.71875 81.8524 0.71875C37.4685 0.71875 1.48828 36.6993 1.48828 81.0835C1.48828 125.468 37.4685 161.448 81.8524 161.448Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M81.8523 143.66C77.6062 143.66 73.363 143.232 69.2404 142.389C65.223 141.567 61.2713 140.34 57.4952 138.743C53.7874 137.174 50.2112 135.233 46.866 132.973C43.5523 130.735 40.4363 128.164 37.6044 125.332C34.7726 122.5 32.2016 119.384 29.963 116.07C27.703 112.725 25.7619 109.149 24.1936 105.441C22.5965 101.665 21.3698 97.713 20.5477 93.6956C19.7041 89.573 19.2764 85.3297 19.2764 81.0835C19.2764 76.8374 19.7041 72.5941 20.5477 68.4715C21.3698 64.4541 22.5965 60.5024 24.1936 56.7262C25.7619 53.0184 27.703 49.4422 29.963 46.0969C32.2016 42.7832 34.7726 39.6672 37.6044 36.8353C40.4363 34.0034 43.5523 31.4325 46.866 29.1938C50.2112 26.9337 53.7874 24.9926 57.4952 23.4244C61.2713 21.8272 65.223 20.6005 69.2404 19.7784C73.363 18.9348 77.6062 18.5071 81.8523 18.5071C86.0985 18.5071 90.3417 18.9348 94.4643 19.7784C98.4817 20.6005 102.433 21.8272 106.21 23.4244C109.917 24.9926 113.493 26.9337 116.839 29.1938C120.152 31.4325 123.268 34.0034 126.1 36.8353C128.932 39.6672 131.503 42.7832 133.742 46.0969C136.002 49.4422 137.943 53.0184 139.511 56.7262C141.108 60.5024 142.335 64.4541 143.157 68.4715C144.001 72.5941 144.428 76.8374 144.428 81.0835C144.428 85.3297 144.001 89.573 143.157 93.6956C142.335 97.713 141.108 101.665 139.511 105.441C137.943 109.149 136.002 112.725 133.742 116.07C131.503 119.384 128.932 122.5 126.1 125.332C123.268 128.164 120.152 130.735 116.839 132.973C113.493 135.233 109.917 137.174 106.21 138.743C102.433 140.34 98.4817 141.567 94.4643 142.389C90.3417 143.232 86.0985 143.66 81.8523 143.66Z"
                                            fill="white" />
                                        <path
                                            d="M81.8524 19.1424C77.649 19.1424 73.4485 19.5658 69.3678 20.4009C65.3915 21.2145 61.4802 22.4287 57.7427 24.0095C54.0727 25.5618 50.5329 27.4832 47.2216 29.7202C43.9415 31.9363 40.857 34.4813 38.0537 37.2846C35.2505 40.0878 32.7054 43.1724 30.4894 46.4526C28.2524 49.7639 26.331 53.3037 24.7788 56.9737C23.1979 60.7112 21.9838 64.6226 21.1701 68.5989C20.3351 72.6797 19.9117 76.8801 19.9117 81.0836C19.9117 85.287 20.3351 89.4875 21.1701 93.5682C21.9838 97.5446 23.1979 101.456 24.7788 105.194C26.331 108.864 28.2524 112.403 30.4894 115.715C32.7054 118.995 35.2505 122.079 38.0537 124.883C40.857 127.686 43.9415 130.231 47.2216 132.447C50.5329 134.684 54.0727 136.605 57.7427 138.158C61.4802 139.739 65.3915 140.953 69.3678 141.766C73.4485 142.601 77.649 143.025 81.8524 143.025C86.0558 143.025 90.2562 142.601 94.3369 141.766C98.3133 140.953 102.225 139.739 105.962 138.158C109.632 136.605 113.172 134.684 116.483 132.447C119.763 130.231 122.848 127.686 125.651 124.883C128.454 122.079 130.999 118.995 133.215 115.715C135.452 112.403 137.374 108.864 138.926 105.194C140.507 101.456 141.721 97.5446 142.535 93.5682C143.37 89.4875 143.793 85.287 143.793 81.0836C143.793 76.8801 143.37 72.6797 142.535 68.5989C141.721 64.6226 140.507 60.7112 138.926 56.9737C137.374 53.3037 135.452 49.7639 133.215 46.4526C130.999 43.1724 128.454 40.0878 125.651 37.2846C122.848 34.4813 119.763 31.9363 116.483 29.7202C113.172 27.4832 109.632 25.5618 105.962 24.0095C102.225 22.4287 98.3133 21.2145 94.3369 20.4009C90.2562 19.5658 86.0558 19.1424 81.8524 19.1424ZM81.8524 17.8718C116.763 17.8718 145.064 46.1727 145.064 81.0836C145.064 115.994 116.763 144.295 81.8524 144.295C46.9418 144.295 18.6411 115.994 18.6411 81.0836C18.6411 46.1727 46.9418 17.8718 81.8524 17.8718Z"
                                            fill="black" />
                                        <path
                                            d="M81.8523 124.601C105.886 124.601 125.37 105.118 125.37 81.0836C125.37 57.0494 105.886 37.5659 81.8523 37.5659C57.8183 37.5659 38.335 57.0494 38.335 81.0836C38.335 105.118 57.8183 124.601 81.8523 124.601Z"
                                            fill="white" />
                                        <path
                                            d="M81.8522 123.966C105.535 123.966 124.734 104.767 124.734 81.0835C124.734 57.4003 105.535 38.2012 81.8522 38.2012C58.1691 38.2012 38.9702 57.4003 38.9702 81.0835C38.9702 104.767 58.1691 123.966 81.8522 123.966Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M81.8526 103.636C94.3081 103.636 104.405 93.5391 104.405 81.0835C104.405 68.6278 94.3081 58.5305 81.8526 58.5305C69.397 58.5305 59.2998 68.6278 59.2998 81.0835C59.2998 93.5391 69.397 103.636 81.8526 103.636Z"
                                            fill="white" />
                                        <path
                                            d="M81.8525 103.001C93.9572 103.001 103.77 93.1882 103.77 81.0834C103.77 68.9786 93.9572 59.1658 81.8525 59.1658C69.7478 59.1658 59.9351 68.9786 59.9351 81.0834C59.9351 93.1882 69.7478 103.001 81.8525 103.001Z"
                                            stroke="black" stroke-width="2" />
                                        <path
                                            d="M82.8062 161.443V0.726074C88.0277 0.785633 93.2403 1.35144 98.3096 2.40737C103.447 3.47571 108.504 5.06146 113.339 7.12244C118.083 9.14372 122.658 11.6427 126.937 14.5487C131.175 17.4236 135.16 20.7254 138.782 24.361C142.405 27.9966 145.693 31.9932 148.555 36.243C151.445 40.5337 153.927 45.1185 155.931 49.8708C157.973 54.7112 159.542 59.7749 160.593 64.923C161.671 70.2064 162.218 75.6436 162.218 81.0833C162.218 86.523 161.671 91.9603 160.593 97.2436C159.542 102.392 157.973 107.455 155.931 112.296C153.926 117.049 151.444 121.635 148.555 125.925C145.693 130.172 142.405 134.17 138.782 137.807C135.163 141.44 131.177 144.742 126.937 147.62C122.654 150.529 118.079 153.027 113.339 155.045C108.515 157.103 103.458 158.691 98.3096 159.763C93.2425 160.818 88.0299 161.382 82.8062 161.443Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 160.798C88.4087 160.7 93.361 160.144 98.1803 159.141C103.288 158.077 108.304 156.502 113.09 154.461C117.792 152.458 122.331 149.979 126.58 147.096C130.787 144.239 134.741 140.964 138.332 137.358C141.927 133.751 145.189 129.784 148.028 125.57C150.895 121.314 153.357 116.765 155.346 112.049C157.372 107.247 158.928 102.223 159.971 97.1159C161.04 91.8748 161.583 86.481 161.583 81.0835C161.583 75.6859 161.04 70.2921 159.971 65.051C158.928 59.9438 157.372 54.9198 155.346 50.1178C153.357 45.4028 150.895 40.854 148.028 36.598C145.188 32.3829 141.927 28.4161 138.332 24.8103C134.738 21.202 130.784 17.9263 126.58 15.0737C122.335 12.1913 117.796 9.71213 113.09 7.70698C108.293 5.66337 103.277 4.08879 98.18 3.02914C93.3589 2.02532 88.4068 1.4682 83.4415 1.37142V160.798ZM82.1715 162.083L82.1709 0.0859375C87.6487 0.10579 93.1222 0.677803 98.4393 1.78585C103.62 2.86287 108.717 4.46227 113.588 6.53814C118.372 8.57679 122.983 11.0956 127.294 14.0227C131.565 16.9212 135.582 20.2491 139.232 23.9132C142.883 27.5761 146.197 31.605 149.082 35.8882C151.996 40.2137 154.497 44.8357 156.517 49.624C158.575 54.5028 160.156 59.6075 161.215 64.7966C162.302 70.1221 162.853 75.6016 162.853 81.0835C162.853 86.5653 162.302 92.0448 161.215 97.3703C160.156 102.559 158.575 107.664 156.517 112.543C154.496 117.334 151.995 121.956 149.082 126.28C146.197 130.562 142.883 134.591 139.232 138.255C135.584 141.918 131.567 145.246 127.294 148.147C122.976 151.077 118.365 153.595 113.588 155.63C108.719 157.707 103.622 159.305 98.4393 160.385C93.1265 161.49 87.6531 162.062 82.1715 162.083Z"
                                            fill="black" />
                                        <path
                                            d="M82.8062 161.443V0.726074C88.0277 0.785633 93.2403 1.35144 98.3096 2.40737C103.447 3.47571 108.504 5.06146 113.339 7.12244C118.083 9.14372 122.658 11.6427 126.937 14.5487C131.175 17.4236 135.16 20.7254 138.782 24.361C142.405 27.9966 145.693 31.9932 148.555 36.243C151.445 40.5337 153.927 45.1185 155.931 49.8708C157.973 54.7112 159.542 59.7749 160.593 64.923C161.671 70.2064 162.218 75.6436 162.218 81.0833C162.218 86.523 161.671 91.9603 160.593 97.2436C159.542 102.392 157.973 107.455 155.931 112.296C153.926 117.049 151.444 121.635 148.555 125.925C145.693 130.172 142.405 134.17 138.782 137.807C135.163 141.44 131.177 144.742 126.937 147.62C122.654 150.529 118.079 153.027 113.339 155.045C108.515 157.103 103.458 158.691 98.3096 159.763C93.2425 160.818 88.0299 161.382 82.8062 161.443Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 160.798C88.4087 160.7 93.361 160.144 98.1803 159.141C103.288 158.077 108.304 156.502 113.09 154.461C117.792 152.458 122.331 149.979 126.58 147.096C130.787 144.239 134.741 140.964 138.332 137.358C141.927 133.751 145.189 129.784 148.028 125.57C150.895 121.314 153.357 116.765 155.346 112.049C157.372 107.247 158.928 102.223 159.971 97.1159C161.04 91.8748 161.583 86.481 161.583 81.0835C161.583 75.6859 161.04 70.2921 159.971 65.051C158.928 59.9438 157.372 54.9198 155.346 50.1178C153.357 45.4028 150.895 40.854 148.028 36.598C145.188 32.3829 141.927 28.4161 138.332 24.8103C134.738 21.202 130.784 17.9263 126.58 15.0737C122.335 12.1913 117.796 9.71213 113.09 7.70698C108.293 5.66337 103.277 4.08879 98.18 3.02914C93.3589 2.02532 88.4068 1.4682 83.4415 1.37142V160.798ZM82.1715 162.083L82.1709 0.0859375C87.6487 0.10579 93.1222 0.677803 98.4393 1.78585C103.62 2.86287 108.717 4.46227 113.588 6.53814C118.372 8.57679 122.983 11.0956 127.294 14.0227C131.565 16.9212 135.582 20.2491 139.232 23.9132C142.883 27.5761 146.197 31.605 149.082 35.8882C151.996 40.2137 154.497 44.8357 156.517 49.624C158.575 54.5028 160.156 59.6075 161.215 64.7966C162.302 70.1221 162.853 75.6016 162.853 81.0835C162.853 86.5653 162.302 92.0448 161.215 97.3703C160.156 102.559 158.575 107.664 156.517 112.543C154.496 117.334 151.995 121.956 149.082 126.28C146.197 130.562 142.883 134.591 139.232 138.255C135.584 141.918 131.567 145.246 127.294 148.147C122.976 151.077 118.365 153.595 113.588 155.63C108.719 157.707 103.622 159.305 98.4393 160.385C93.1265 161.49 87.6531 162.062 82.1715 162.083Z"
                                            fill="black" />
                                        <path
                                            d="M82.8062 133.489V28.6804C86.1287 28.7325 89.445 29.0998 92.6727 29.7736C96.0166 30.4697 99.3075 31.5045 102.454 32.8483C105.541 34.166 108.519 35.7952 111.304 37.6899C114.061 39.5648 116.655 41.7176 119.013 44.0913C121.372 46.4625 123.511 49.0694 125.373 51.8401C127.254 54.6369 128.87 57.6273 130.174 60.7268C131.503 63.8859 132.524 67.1902 133.208 70.5441C133.909 73.9886 134.265 77.5335 134.265 81.0823C134.265 84.631 133.909 88.1772 133.208 91.6229C132.524 94.9781 131.503 98.2811 130.174 101.439C128.869 104.539 127.254 107.529 125.373 110.327C123.509 113.1 121.369 115.707 119.013 118.076C116.654 120.448 114.06 122.601 111.304 124.477C108.516 126.374 105.539 128.003 102.455 129.319C99.311 130.662 96.0204 131.697 92.673 132.395C89.4494 133.067 86.1334 133.434 82.8062 133.489Z"
                                            fill="white" />
                                        <path
                                            d="M83.4415 132.839C86.5115 132.752 89.5676 132.393 92.5434 131.773C95.8498 131.083 99.1001 130.062 102.205 128.734C105.252 127.435 108.193 125.826 110.946 123.951C113.67 122.098 116.232 119.972 118.563 117.628C120.89 115.288 123.004 112.712 124.846 109.973C126.704 107.209 128.299 104.254 129.588 101.193C130.902 98.0726 131.91 94.8105 132.585 91.4963C133.278 88.0927 133.63 84.5887 133.63 81.0822C133.63 77.5756 133.278 74.0728 132.585 70.6705C131.91 67.3576 130.902 64.0942 129.588 60.9724C128.3 57.9113 126.704 54.9582 124.846 52.1936C123.007 49.4577 120.893 46.8817 118.563 44.5391C116.233 42.194 113.67 40.0672 110.946 38.2159C108.195 36.3436 105.254 34.7342 102.205 33.4326C99.0966 32.1049 95.8464 31.0825 92.5427 30.3951C89.5633 29.7735 86.5078 29.4161 83.4415 29.3293V132.839ZM82.1715 134.13L82.1709 28.0388C85.7512 28.0512 89.3278 28.426 92.8027 29.1518C96.1888 29.8566 99.5198 30.9038 102.704 32.2638C105.83 33.5989 108.843 35.2479 111.661 37.165C114.452 39.0622 117.078 41.2423 119.464 43.6432C121.849 46.0417 124.015 48.6797 125.9 51.4851C127.804 54.3167 129.44 57.3442 130.759 60.4798C132.104 63.6761 133.138 67.0188 133.83 70.4174C134.541 73.9041 134.901 77.4937 134.901 81.0822C134.901 84.6743 134.541 88.2615 133.83 91.7494C133.138 95.148 132.104 98.4907 130.759 101.686C129.439 104.824 127.804 107.85 125.9 110.682C124.015 113.486 121.849 116.125 119.464 118.524C117.078 120.922 114.453 123.102 111.661 125.002C108.839 126.923 105.825 128.572 102.704 129.903C99.5216 131.263 96.1907 132.31 92.8027 133.016C89.3309 133.741 85.7537 134.116 82.1715 134.13Z"
                                            fill="black" />
                                        <path d="M82.4878 81.0835H135.217" stroke="black" stroke-width="2" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_68_5382">
                                            <rect width="162" height="162" fill="white"
                                                transform="translate(0.853027 0.0834961)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                            <h3>Hybrid Logistics</h3>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology solutions. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {{> footer }}
    <link rel="stylesheet" href="dist/css/swiper-bundle.min.css" />
    <script src="dist/js/swiper-bundle.min.js"></script>
    <script src="dist/js/jquery.fancybox.js"></script>
    {{> script }}



</body>
<!-- Body End-->

</html>
<!-- HTML End-->