<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/insights.css">
</head>

<!-- Body -->

<body class="">
    {{> header }}

    <div class="site-wrapper">


        <div class="container">

            <div class="insights-container">
                <div class="insights-left  w50">
                    <div class="title">
                        <h2>Insights</h2>
                        <p>Happening at Omnie Solutions</p>
                    </div>

                    <div class="tabs d-f ai-fs jc-fs">
                        <a href="#" class="tab-link active">News</a>
                        <a href="#" class="tab-link">Blog</a>
                    </div>

                    <div class="insights-sldier">
                        <div class="item">
                            <figure>
                                <a href="#">
                                    <img src="dist/images/insights/insights-img.png" alt="image" width="600"
                                        height="300">
                                </a>

                            </figure>
                            <div class="details">
                                <span class="date">News / 15 September 2024</span>
                                <h3>Omnie Solutions (I) Pvt. Ltd designs a job portal with a difference Experience4U
                                </h3>
                                <p>Omnie Solutions (I) Pvt. Ltd designs a “job portal with a difference” Experience4U -
                                    a
                                    job portal specialized for senior job seekers...</p>

                                <a href="" class="readmore-link">Read More</a>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="insights-right w50">
                    <div id="carouselTickerInsightsPage" class="carouselTickerInsightsPage">
                        <ul class="carouselTicker__list">
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="carouselTickerInsightsPageReverse" class="carouselTickerInsightsPageReverse">
                        <ul class="carouselTicker__list">
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/21-nov.png" alt="">
                                    </div>
                                    <div class="date">News / 21st November 2016</div>
                                    <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/20-jan.png" alt="">
                                    </div>
                                    <div class="date">News / 20 January 2014</div>
                                    <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br />
                                        facial
                                        recognition</h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a
                                        difference<br />
                                        Experience4U
                                    </h5>

                                </a>
                            </li>
                            <li class="carouselTicker__item">
                                <a class="item" href="#">
                                    <div class="img">
                                        <img src="dist/images/insights/15-sep-2.png" alt="">
                                    </div>
                                    <div class="date">News / 15 September 2012</div>
                                    <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into
                                        The
                                        Asia
                                    </h5>

                                </a>
                            </li>
                        </ul>
                    </div>


                </div>

            </div>

        </div>


    </div>

    {{> footer }}
   <link rel="stylesheet" type="text/css" href="dist/css/carouselTicker.css" media="screen">
    <script type="text/javascript" src="dist/js/jquery.carouselTicker.min-new.js"></script>
    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->