{{> head }}

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper" style="padding: 50px;">
        <h1>H1 Heading</h1>
        <h2>H2 Heading</h2>
        <h3>H3 Heading</h3>
        <h4>H4 Heading</h4>
        <p>Body copy text</p>
        <p class="p1">P1 copy text</p>
        <p class="p2">P2 copy text</p>
        <p class="p3">P3 copy text</p>
        <p class="p4">P4 copy text</p>
        <a href="#" class="btn">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn btn-secondry">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn arrow-btn">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn arrow-btn-secondry">Read More</a>
        <div class="spacer"></div>
        <div class="w25">
            <label>Interactive elements that
            allow the user to input info</label>
            <input type="text" class="form-control" placeholder="Input text" />
        </div>        
        <div class="spacer"></div>
        <div class="c-radio">
            <input type="radio" id="ab"/>
            <label for="ab">Radio button</label>
        </div>
        <div class="spacer"></div>
        <div class="c-checkbox">
            <input type="checkbox" id="bc"/>
            <label for="bc">Check box</label>
        </div>
        <div class="spacer"></div>
        <div class="custom-select w25">
            <select name="" id="">
                <option value="">Dropdown text</option>
                <option value="">Dropdown text 1</option>
                <option value="">Dropdown text 2</option>
            </select>
        </div>
    </div>

    {{> footer }}

    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->