{{> head }}

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper" style="padding: 50px;">
        <h1>Title Heading</h1>
        <h2>Title Heading</h2>
        <h3>Title Heading</h3>
        <h4>Title Heading</h4>
        <p>Body copy text</p>
        <p class="p1">Body copy text</p>
        <p class="p2">Body copy text</p>
        <p class="p3">Body copy text</p>
        <p class="p4">Body copy text</p>
        <a href="#" class="btn">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn btn-secondry">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn arrow-btn">Read More</a>
        <div class="spacer"></div>
        <a href="#" class="btn arrow-btn-secondry">Read More</a>
        <div class="spacer"></div>
        <div class="w25">
            <label>Interactive elements that
            allow the user to input info</label>
            <input type="text" class="form-control" placeholder="Input text" />
        </div>        
        <div class="spacer"></div>
        <div class="c-radio">
            <input type="radio" id="ab"/>
            <label for="ab">Radio button</label>
        </div>
        <div class="spacer"></div>
        <div class="c-checkbox">
            <input type="checkbox" id="bc"/>
            <label for="bc">Check box</label>
        </div>
    </div>

    {{> footer }}

    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->