<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/home.css">
</head>

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper">
        <section class="home-banner fl-fix bannerHeight pos-r bg-light-grey">

            <div class="item">

                <div class="container">
                    <div class="d-f w100 jc-sb">

                        <div class="left w50">
                            <div class="tiles pos-r">
                                <ul style="--square-count:6">
                                    <li style="--animation-order:0"></li>
                                    <li style="--animation-order:1"></li>
                                    <li style="--animation-order:2"></li>
                                    <li style="--animation-order:3"></li>
                                    <li style="--animation-order:4"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:1"></li>
                                    <li style="--animation-order:2"></li>
                                    <li style="--animation-order:3"></li>
                                    <li style="--animation-order:4"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:6"></li>
                                    <li style="--animation-order:2"></li>
                                    <li style="--animation-order:3"></li>
                                    <li style="--animation-order:4"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:6"></li>
                                    <li style="--animation-order:7"></li>
                                    <li style="--animation-order:3"></li>
                                    <li style="--animation-order:4"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:6"></li>
                                    <li style="--animation-order:7"></li>
                                    <li style="--animation-order:8"></li>
                                    <li style="--animation-order:4"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:6"></li>
                                    <li style="--animation-order:7"></li>
                                    <li style="--animation-order:8"></li>
                                    <li style="--animation-order:9"></li>
                                    <li style="--animation-order:5"></li>
                                    <li style="--animation-order:6"></li>
                                    <li style="--animation-order:7"></li>
                                    <li style="--animation-order:8"></li>
                                    <li style="--animation-order:9"></li>
                                    <li style="--animation-order:10"></li>
                                </ul>

                                <div class="alphabet-tile pos-a l-0 t-0">
                                    <strong>se</strong>
                                </div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="title">
                                <h1>We
                                    <strong>connect.</strong>

                                </h1>
                            </div>
                            <h1 class="h1">

                                <div class="content">
                                    <p>
                                        Enjoy the benefits of seamless software communication with enterprise bus
                                        integration managing complex internal landscapes for protocol functions.
                                    </p>
                                </div>
                            </h1>
                        </div>

                    </div>
                </div>
            </div>

            <div class="down-arrow pos-a ">
                <svg width="36" height="19" viewBox="0 0 36 19" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
                <path
                    d="M0.942764 0.517929C0.796059 0.6644 0.679675 0.838351 0.600266 1.02985C0.520856 1.22134 0.47998 1.42662 0.47998 1.63393C0.47998 1.84123 0.520856 2.04651 0.600266 2.23801C0.679675 2.4295 0.796059 2.60345 0.942764 2.74992L16.7308 18.5379C17.027 18.8338 17.4286 19 17.8473 19C18.2659 19 18.6675 18.8338 18.9638 18.5379L34.7518 2.74992C34.8983 2.60337 35.0146 2.42938 35.0939 2.2379C35.1732 2.04642 35.214 1.84119 35.214 1.63393C35.214 1.42667 35.1732 1.22144 35.0939 1.02995C35.0146 0.838469 34.8983 0.664484 34.7518 0.517929C34.6052 0.371374 34.4312 0.255112 34.2397 0.175797C34.0483 0.0964814 33.843 0.0556641 33.6358 0.0556641C33.4285 0.0556641 33.2233 0.0964814 33.0318 0.175797C32.8403 0.255112 32.6663 0.371374 32.5198 0.517929L17.8468 15.1909L3.17476 0.517929C2.87838 0.222311 2.47686 0.0562897 2.05826 0.0562897C1.63965 0.0562897 1.23914 0.222311 0.942764 0.517929Z"
                    fill="black" />
                <path
                    d="M10.4154 0.517929C10.2687 0.6644 10.1523 0.838351 10.0729 1.02985C9.99353 1.22134 9.95264 1.42662 9.95264 1.63393C9.95264 1.84123 9.99353 2.04651 10.0729 2.23801C10.1523 2.4295 10.2687 2.60345 10.4154 2.74992L16.7314 9.06592C17.0277 9.36178 17.4292 9.52797 17.8479 9.52797C18.2666 9.52797 18.6682 9.36178 18.9644 9.06592L25.2804 2.74992C25.5764 2.45394 25.7427 2.05251 25.7427 1.63393C25.7427 1.21535 25.5764 0.813911 25.2804 0.517929C24.9844 0.221947 24.583 0.0556641 24.1644 0.0556641C23.7458 0.0556641 23.3444 0.221947 23.0484 0.517929L17.8484 5.71793L12.6484 0.517929C12.3522 0.222067 11.9506 0.0558777 11.5319 0.0558777C11.1132 0.0558777 10.7117 0.222067 10.4154 0.517929Z"
                    fill="black" />
                </svg>
            </div>
        </section>

        <section class="home-content fl-fix section-gap pos-r bg-black text-white">
            <div class="container">

                <div class="content content1">
                    <div class="d-f w00 jc-sb">
                        <div class="left w40">
                            <h2 class="h2">Industries we specialize in</h2>
                            <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology
                                solutions. We believe in the synergy of research, technology, science and creativity.
                                Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                technology
                                solutions. We believe in the synergy of research, technology, science and
                                creativity.Harnessing the power of digital evolution, Omnie is a provider of
                                groundbreaking
                                technology solutions. We believe in the synergy of research, technology, science and
                                creativity.</p>
                            <a href="#" class="btn btn-secondry">Read More</a>
                        </div>

                        <div class="image-box w45">
                            <figure>
                                <svg width="416" height="394" viewBox="0 0 416 394" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_292_3632)">
                                        <path
                                            d="M277.333 275.933C353.229 275.933 414.754 214.554 414.754 138.84C414.754 63.1257 353.229 1.74707 277.333 1.74707C201.438 1.74707 139.912 63.1257 139.912 138.84C139.912 214.554 201.438 275.933 277.333 275.933Z"
                                            stroke="white" stroke-width="3" />
                                        <g opacity="0.8">
                                            <path
                                                d="M232.08 310.83C308.205 310.83 369.916 249.079 369.916 172.906C369.916 96.7326 308.205 34.9819 232.08 34.9819C155.955 34.9819 94.2437 96.7326 94.2437 172.906C94.2437 249.079 155.955 310.83 232.08 310.83Z"
                                                stroke="white" stroke-width="3" />
                                        </g>
                                        <g opacity="0.6">
                                            <path
                                                d="M185.581 349.88C261.706 349.88 323.417 288.688 323.417 213.203C323.417 137.718 261.706 76.5251 185.581 76.5251C109.456 76.5251 47.7446 137.718 47.7446 213.203C47.7446 288.688 109.456 349.88 185.581 349.88Z"
                                                stroke="white" stroke-width="3" />
                                        </g>
                                        <g opacity="0.4">
                                            <path
                                                d="M138.667 392.255C214.562 392.255 276.088 330.876 276.088 255.162C276.088 179.447 214.562 118.069 138.667 118.069C62.7711 118.069 1.24561 179.447 1.24561 255.162C1.24561 330.876 62.7711 392.255 138.667 392.255Z"
                                                stroke="white" stroke-width="3" />
                                        </g>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_292_3632">
                                            <rect width="416" height="393" fill="white" transform="translate(0 0.5)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>



        </section>

    </div>

    {{> footer }}

    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->