<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/home.css">
</head>

<!-- Body -->

<body class=" ">
    {{> header }}

    <div class="site-wrapper">
        <section class="home-banner banner fl-fix bannerHeight pos-r ">

            <div class="banner-slider">

                <div class="item">

                    <div class="container">
                        <div class="d-f w100 jc-sb">

                            <div class="left w40">
                                <div class="tiles pos-r first-tiles">
                                    <ul style="--square-count:6">
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:0"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:1"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:11"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:8"></li>

                                    </ul>

                                    <div class="alphabet-tile pos-a l-0 t-0">
                                        {{!--
                                        <div class="text-flip-slider swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="inner-item swiper-slide w100 ">
                                                    <div class="bg">
                                                        <strong>se</strong>
                                                    </div>

                                                </div>
                                                <div class="inner-item swiper-slide w100 ">
                                                    <div class="bg"> </div>

                                                </div>
                                                <div class="inner-item swiper-slide w100">
                                                    <div class="bg"> <strong>so</strong></div>

                                                </div>
                                            </div>
                                        </div> --}}
                                        <strong data-splitting>se</strong>

                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <div class="title">
                                    {{!-- <h1 class="h1">
                                        <div class="we"> We</div>
                                        <div class="drum">
                                            <div class="animate">
                                                <div class="text-roll-slider swiper-container">
                                                    <div class="swiper-wrapper">

                                                        <div class="inner-item swiper-slide w100">
                                                            <strong>assist.</strong>
                                                        </div>
                                                        <div class="inner-item swiper-slide w100 ">

                                                            <strong>connect.</strong>
                                                        </div>
                                                        <div class="inner-item swiper-slide w100">
                                                            <strong>chase.</strong>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>

                                        </div>


                                    </h1> --}}
                                    <h1 class="h1">We
                                        <div class="drum">
                                            <div class="box normal " data-splitting>assist.</div>
                                            <div class="box hover" data-splitting>assist.</div>
                                        </div>
                                    </h1>
                                </div>


                                <div class="content">
                                    <p>
                                        Omnie has provided application development services for some of the world’s most
                                        impressive businesses.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">

                    <div class="container">
                        <div class="d-f w100 jc-sb">

                            <div class="left w40">
                                <div class="tiles pos-r">
                                    <ul style="--square-count:6">
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:0"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:1"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:11"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:8"></li>

                                    </ul>

                                    <div class="alphabet-tile pos-a l-0 t-0">
                                        <strong data-splitting>te</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <div class="title">
                                    <h1 class="h1">We
                                        <div class="drum">
                                            <div class="box normal " data-splitting>connect.</div>
                                            <div class="box hover" data-splitting>connect.</div>
                                        </div>

                                    </h1>
                                </div>


                                <div class="content">
                                    <p>
                                        Enjoy the benefits of seamless software communication with enterprise bus
                                        integration managing complex internal landscapes for protocol functions.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="item">

                    <div class="container">
                        <div class="d-f w100 jc-sb">

                            <div class="left w40">
                                <div class="tiles pos-r">
                                    <ul style="--square-count:6">
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:0"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:1"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:11"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:8"></li>
                                        <li style="--animation-order:2"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:6"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:5"></li>
                                        <li style="--animation-order:3"></li>
                                        <li style="--animation-order:9"></li>
                                        <li style="--animation-order:7"></li>
                                        <li style="--animation-order:4"></li>
                                        <li style="--animation-order:10"></li>
                                        <li style="--animation-order:8"></li>

                                    </ul>

                                    <div class="alphabet-tile pos-a l-0 t-0">
                                        <strong data-splitting>so</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="right">
                                <div class="title">
                                    <h1 class="h1">We
                                        <div class="drum">
                                            <div class="box normal " data-splitting>chase.</div>
                                            <div class="box hover" data-splitting>chase.</div>
                                        </div>

                                    </h1>
                                </div>


                                <div class="content">
                                    <p>
                                        Your brand is valuable. And so is your time. Your teams and partners should be
                                        able to access all of the creative digital content they need to, as easily as
                                        possible.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="slick-custom-arrow slick-custom-prev "><svg xmlns="http://www.w3.org/2000/svg" width="19.5"
                    height="17.27" viewBox="0 0 19.5 17.27">
                    <path id="Path_212" data-name="Path 212"
                        d="M200.814,156.508l.812-.949,6.587-7.685,2.23,1.9-4.517,5.272h14.387v2.928H205.926l4.517,5.272-2.23,1.9-6.587-7.685Z"
                        transform="translate(-200.814 -147.873)" />
                </svg></div>
            <div class="slick-custom-arrow slick-custom-next"><svg xmlns="http://www.w3.org/2000/svg" width="16.325"
                    height="14.458" viewBox="0 0 16.325 14.458">
                    <path id="Path_211" data-name="Path 211"
                        d="M217.139,155.1l-.68-.795-5.515-6.434-1.867,1.589,3.782,4.414H200.814v2.451h12.045l-3.782,4.414,1.867,1.589,5.515-6.434Z"
                        transform="translate(-200.814 -147.873)" fill="#fff" />
                </svg></div>

            <div class="down-arrow pos-a">
                <svg width="36" height="19" viewBox="0 0 36 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.942764 0.517929C0.796059 0.6644 0.679675 0.838351 0.600266 1.02985C0.520856 1.22134 0.47998 1.42662 0.47998 1.63393C0.47998 1.84123 0.520856 2.04651 0.600266 2.23801C0.679675 2.4295 0.796059 2.60345 0.942764 2.74992L16.7308 18.5379C17.027 18.8338 17.4286 19 17.8473 19C18.2659 19 18.6675 18.8338 18.9638 18.5379L34.7518 2.74992C34.8983 2.60337 35.0146 2.42938 35.0939 2.2379C35.1732 2.04642 35.214 1.84119 35.214 1.63393C35.214 1.42667 35.1732 1.22144 35.0939 1.02995C35.0146 0.838469 34.8983 0.664484 34.7518 0.517929C34.6052 0.371374 34.4312 0.255112 34.2397 0.175797C34.0483 0.0964814 33.843 0.0556641 33.6358 0.0556641C33.4285 0.0556641 33.2233 0.0964814 33.0318 0.175797C32.8403 0.255112 32.6663 0.371374 32.5198 0.517929L17.8468 15.1909L3.17476 0.517929C2.87838 0.222311 2.47686 0.0562897 2.05826 0.0562897C1.63965 0.0562897 1.23914 0.222311 0.942764 0.517929Z"
                        fill="black" />
                    <path
                        d="M10.4154 0.517929C10.2687 0.6644 10.1523 0.838351 10.0729 1.02985C9.99353 1.22134 9.95264 1.42662 9.95264 1.63393C9.95264 1.84123 9.99353 2.04651 10.0729 2.23801C10.1523 2.4295 10.2687 2.60345 10.4154 2.74992L16.7314 9.06592C17.0277 9.36178 17.4292 9.52797 17.8479 9.52797C18.2666 9.52797 18.6682 9.36178 18.9644 9.06592L25.2804 2.74992C25.5764 2.45394 25.7427 2.05251 25.7427 1.63393C25.7427 1.21535 25.5764 0.813911 25.2804 0.517929C24.9844 0.221947 24.583 0.0556641 24.1644 0.0556641C23.7458 0.0556641 23.3444 0.221947 23.0484 0.517929L17.8484 5.71793L12.6484 0.517929C12.3522 0.222067 11.9506 0.0558777 11.5319 0.0558777C11.1132 0.0558777 10.7117 0.222067 10.4154 0.517929Z"
                        fill="black" />
                </svg>
            </div>
        </section>

        <section class="home-content fl-fix section-gap pos-r bg-black text-white">
            <div class="container">

                <div class="content-slider">
                    <div class="content content1 item">
                        <div class="d-f w00 jc-sb ai-c">
                            <div class="left w45">
                                <h2 class="h2">Industries we specialize in</h2>
                                <p>Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                    technology
                                    solutions. We believe in the synergy of research, technology, science and
                                    creativity.
                                    Harnessing the power of digital evolution, Omnie is a provider of groundbreaking
                                    technology
                                    solutions. We believe in the synergy of research, technology, science and
                                    creativity.Harnessing the power of digital evolution, Omnie is a provider of
                                    groundbreaking
                                    technology solutions. We believe in the synergy of research, technology, science and
                                    creativity.</p>
                                <a href="#" class="btn btn-secondry  dark">Read More</a>
                            </div>

                            <div class="image-box w40 to-load">
                                <figure>
                                    <svg width="416" height="394" viewBox="0 0 416 394" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_292_3632)">
                                            <path
                                                d="M277.333 275.933C353.229 275.933 414.754 214.554 414.754 138.84C414.754 63.1257 353.229 1.74707 277.333 1.74707C201.438 1.74707 139.912 63.1257 139.912 138.84C139.912 214.554 201.438 275.933 277.333 275.933Z"
                                                stroke="white" stroke-width="3" class="svg-elem-1"></path>
                                            <g opacity="0.8">
                                                <path
                                                    d="M232.08 310.83C308.205 310.83 369.916 249.079 369.916 172.906C369.916 96.7326 308.205 34.9819 232.08 34.9819C155.955 34.9819 94.2437 96.7326 94.2437 172.906C94.2437 249.079 155.955 310.83 232.08 310.83Z"
                                                    stroke="white" stroke-width="3" class="svg-elem-2"></path>
                                            </g>
                                            <g opacity="0.6">
                                                <path
                                                    d="M185.581 349.88C261.706 349.88 323.417 288.688 323.417 213.203C323.417 137.718 261.706 76.5251 185.581 76.5251C109.456 76.5251 47.7446 137.718 47.7446 213.203C47.7446 288.688 109.456 349.88 185.581 349.88Z"
                                                    stroke="white" stroke-width="3" class="svg-elem-3"></path>
                                            </g>
                                            <g opacity="0.4">
                                                <path
                                                    d="M138.667 392.255C214.562 392.255 276.088 330.876 276.088 255.162C276.088 179.447 214.562 118.069 138.667 118.069C62.7711 118.069 1.24561 179.447 1.24561 255.162C1.24561 330.876 62.7711 392.255 138.667 392.255Z"
                                                    stroke="white" stroke-width="3" class="svg-elem-4"></path>
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_292_3632">
                                                <rect width="416" height="393" fill="white" transform="translate(0 0.5)"
                                                    class="svg-elem-5"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </figure>
                            </div>
                        </div>
                    </div>


                    <div class="content content2 item">
                        <div class="d-f w00 jc-sb ai-c">
                            <div class="left w45">
                                <h2 class="h2">We speak a digital language</h2>
                                <p>Creating custom solutions in large software systems, Omnie’s experience in enterprise
                                    platforms delivers scalable options for complex business needs. Creating custom
                                    solutions in
                                    large software systems, Omnie’s experience in enterprise platforms delivers scalable
                                    options
                                    for complex business needs.Creating custom solutions in large software systems,
                                    Omnie’s
                                    experience in enterprise platforms delivers scalable options for complex business
                                    needs.
                                </p>
                                <a href="#" class="btn btn-secondry  dark">Read More</a>
                            </div>

                            <div class="image-box w40 to-load">
                                <figure>
                                    <svg width="488" height="409" viewBox="0 0 488 409" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M138.577 274.213C213.855 274.213 274.88 213.378 274.88 138.335C274.88 63.291 213.855 2.45605 138.577 2.45605C63.299 2.45605 2.27393 63.291 2.27393 138.335C2.27393 213.378 63.299 274.213 138.577 274.213Z"
                                            stroke="white" stroke-width="3" class="svg-elem-1"></path>
                                        <path d="M355.558 85.6816H100.786V339.605H355.558V85.6816Z" stroke="white"
                                            stroke-width="3" class="svg-elem-2"></path>
                                        <g opacity="0.4">
                                            <path
                                                d="M356.407 194.673L229.695 406.27H483.12L356.407 194.673ZM356.407 189.714L487.615 408.818H225.2L356.407 189.714Z"
                                                fill="white" class="svg-elem-3"></path>
                                        </g>
                                    </svg>
                                </figure>
                            </div>
                        </div>
                    </div>


                    <div class="content content3 item">
                        <div class="d-f w00 jc-sb ai-c">
                            <div class="left w45">
                                <h2 class="h2">We design the system</h2>
                                <p>Revolutionizing cloud based pharmacy management system (PMS) designed with a
                                    pharmacist
                                    approach. Leveraging the latest technology stack, we designed the system keeping the
                                    end
                                    users in mind. View all your Rx scripts in an intuitive dashboard empowering you to
                                    perform your daily tasks from one place. OmnieRx, a revolutionizing cloud based
                                    pharmacy
                                    management system (PMS) designed with a pharmacist approach. Leveraging the latest
                                    technology stack, we designed the system keeping the end users in mind. View all
                                    your Rx
                                    scripts in an intuitive dashboard empowering you to perform your daily tasks from
                                    one
                                    place.
                                </p>
                                <a href="#" class="btn btn-secondry dark">Read More</a>
                            </div>

                            <div class="image-box w40 to-load">
                                <figure>
                                    <svg width="422" height="422" viewBox="0 0 422 422" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_292_3996)">
                                            <path
                                                d="M401.48 1.83521H20.5202C9.92637 1.83521 1.33838 10.4028 1.33838 20.9716V401.029C1.33838 411.597 9.92637 420.165 20.5202 420.165H401.48C412.074 420.165 420.662 411.597 420.662 401.029V20.9716C420.662 10.4028 412.074 1.83521 401.48 1.83521Z"
                                                stroke="white" stroke-width="3" class="svg-elem-1"></path>
                                            <g opacity="0.4">
                                                <path
                                                    d="M356.871 46.3384H65.1291C54.5353 46.3384 45.9473 54.906 45.9473 65.4747V356.525C45.9473 367.094 54.5353 375.662 65.1291 375.662H356.871C367.465 375.662 376.053 367.094 376.053 356.525V65.4747C376.053 54.906 367.465 46.3384 356.871 46.3384Z"
                                                    stroke="white" stroke-width="3" class="svg-elem-2"></path>
                                            </g>
                                            <path
                                                d="M297.988 105.083H124.013C113.419 105.083 104.831 113.65 104.831 124.219V297.781C104.831 308.35 113.419 316.918 124.013 316.918H297.988C308.581 316.918 317.169 308.35 317.169 297.781V124.219C317.169 113.65 308.581 105.083 297.988 105.083Z"
                                                stroke="white" stroke-width="3" class="svg-elem-3"></path>
                                            <path
                                                d="M268.099 211C268.099 179.54 242.535 154.036 211 154.036C179.465 154.036 153.901 179.54 153.901 211C153.901 242.461 179.465 267.964 211 267.964C242.535 267.964 268.099 242.461 268.099 211Z"
                                                stroke="white" stroke-width="3" class="svg-elem-4"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_292_3996">
                                                <rect width="422" height="421" fill="white" transform="translate(0 0.5)"
                                                    class="svg-elem-5"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </section>

        <section class="home-insights fl-fix section-gap pos-r">
            <div class="container">
                <div class="section-heading ta-c">
                    <h2>Insights</h2>
                    <p>Happening at Omnie Solutions</p>
                </div>
            </div>
            <div id="carouselTickerInsights" class="carouselTickerInsights home-insights-slider">
                <ul class="carouselTicker__list">
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 21st November 2016</div>
                            <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>
                            <div class="img">
                                <img src="dist/images/insights/21-nov.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 20 January 2014</div>
                            <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br /> facial
                                recognition</h5>
                            <div class="img">
                                <img src="dist/images/insights/20-jan.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a difference<br />
                                Experience4U
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into The
                                Asia
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep-2.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 21st November 2016</div>
                            <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>
                            <div class="img">
                                <img src="dist/images/insights/21-nov.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 20 January 2014</div>
                            <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br /> facial
                                recognition</h5>
                            <div class="img">
                                <img src="dist/images/insights/20-jan.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a difference<br />
                                Experience4U
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into The
                                Asia
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep-2.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 21st November 2016</div>
                            <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>
                            <div class="img">
                                <img src="dist/images/insights/21-nov.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 20 January 2014</div>
                            <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br /> facial
                                recognition</h5>
                            <div class="img">
                                <img src="dist/images/insights/20-jan.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a difference<br />
                                Experience4U
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into The
                                Asia
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep-2.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 21st November 2016</div>
                            <h5>Omnie Solutions<br /> Acquires an<br /> Unmanned Aerial<br /> Device UAD</h5>
                            <div class="img">
                                <img src="dist/images/insights/21-nov.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 20 January 2014</div>
                            <h5>Daily Information<br /> Tracking System now<br /> can profile based on<br /> facial
                                recognition</h5>
                            <div class="img">
                                <img src="dist/images/insights/20-jan.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>Omnie Solutions (I) Pvt.<br /> Ltd designs a job portal<br /> with a difference<br />
                                Experience4U
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep.png" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="carouselTicker__item">
                        <a class="item" href="#">
                            <div class="date">News / 15 September 2012</div>
                            <h5>The Next Generation Of Technology Endorsed 3D Augmentation Has Made Its Way Into The
                                Asia
                            </h5>
                            <div class="img">
                                <img src="dist/images/insights/15-sep-2.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </section>


<section class="ai-section bg-white pos-f w100 h100 t-o l-0 ">

<div class="panel1">
<div class="ait-title">
    <h2 class="h1">
        Empowering Your Search with AI-Driven Insights
    </h2>

    <h4>
        Innovative Solutions, Powered by AI Intelligence.
    </h4>
</div>

</div>
</section>

    </div>

    {{> footer }}
    <link rel="stylesheet" href="dist/css/slick.css" />
    <link rel="stylesheet" href="dist/css/flickity.css" />
    <script src="dist/js/splitting.min.js"></script>

    <script src="dist/js/slick.min.js"></script>
    <script src="dist/js/flickity.pkgd.min.js"></script>
    <script src="dist/js/flickity-fade.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/css/carouselTicker.css" media="screen">
    <script type="text/javascript" src="dist/js/jquery.carouselTicker.min-new.js"></script>
    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->