<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/aboutUs.css">
</head>

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper">
        <section class="page-banner section-gap">
            <div class="container">
                <div class="middle-part">
                    <div class="sub-heading">Seeking to induce change, we pursue advanced technology to provide
                        solutions that change the way we</div>
                    <div class="main-heading">Think <span class="dot"></span>Create <span class="dot"></span>Perform
                        <span class="dot"></span>Develop
                    </div>
                </div>
                <div class="bottom-part">
                    <div class="bottom-part-content">Harnessing the power of digital evolution, Omnie is a provider
                        of groundbreaking technology solutions. We believe in the
                        synergy of research, technology, science and creativity to produce our generation’s most
                        exciting, innovative solutions
                        , methodologies and processes. Harnessing the power of digital evolution, Omnie is a
                        provider of groundbreaking
                        technology solutions.</div>
                </div>
            </div>
        </section>

        <section class="count section-gap">
            <div class="container">
                <div class="count-container">
                    <div class="count-container-left">
                        <p>Harnessing the <span>power of digital evolution</span>, Omnie is a provider of groundbreaking technology solutions.</p>
                    </div>
                    <div class="count-container-right">
                        <div class="count-container-right-flex">
                            <div class="count-container-right-flex-item">
                                <div class="counting"><span>100</span>%</div>
                                <div class="counting-tag">independent</div>
                            </div>
                            <div class="count-container-right-flex-item">
                                <div class="counting">+<span>20</span></div>
                                <div class="counting-tag">years of experience</div>
                            </div>
                            <div class="count-container-right-flex-item">
                                <div class="counting"><span>125</span></div>
                                <div class="counting-tag">collborators</div>
                            </div>
                            <div class="count-container-right-flex-item">
                                <div class="counting">+<span>140</span></div>
                                <div class="counting-tag">companies trust us</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-partners section-gap">
            <div class="container">
                <div class="section-title">
                    <h2>Our Partners</h2>
                </div>
                <div class="partners-logo">
                    <div class="partners-logo-container">
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/azure-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/azure-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/aprimo-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/aprimo-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners-logo-container">
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/microsoft-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/microsoft-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/ibm-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/ibm-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners-logo-container">
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/sitecore-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/sitecore-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/magento-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/magento-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners-logo-container">
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/aumcore-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/aumcore-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="partners-logo-container-item">
                            <div class="invert-img-block">
                                <div class="invert-img-block-front">
                                    <img src="../../dist/images/appnova-partner.svg" alt="">
                                </div>
                                <div class="invert-img-block-back">
                                    <img src="../../dist/images/appnova-partner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w100 our-partners-action">
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>
    </div>

    {{> footer }}
    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->