<!--Footer-->
<footer class="footer fl-fix">
    <div class="container">
        <div class="d-f jc-sb w100">
            <div class="left">
                <div class="logo">
                    <a href="index.html">
                        <img src="dist/images/common/omnie-logo.svg" width="251" height="25" alt="Omnie Logo ">
                    </a>

                </div>
                <p>© 2023 Omnie Solutions (I) Pvt Ltd All Rights Reserved</p>
            </div>


            <div class="right">
                <ul class="d-f jc-fe ai-c social-links">
                    <li>
                        <a href="#"><svg id="XMLID_834_" xmlns="http://www.w3.org/2000/svg" width="11.131"
                                height="22.036" viewBox="0 0 11.131 22.036">
                                <path id="XMLID_835_"
                                    d="M77.058,11.736h2.416v9.944a.355.355,0,0,0,.355.355h4.1a.355.355,0,0,0,.355-.355v-9.9h2.777a.355.355,0,0,0,.353-.315l.422-3.661a.355.355,0,0,0-.353-.4h-3.2V5.116c0-.692.373-1.043,1.107-1.043h2.091a.355.355,0,0,0,.355-.355V.358A.355.355,0,0,0,87.479,0H84.6c-.02,0-.065,0-.132,0a5.523,5.523,0,0,0-3.611,1.361,3.787,3.787,0,0,0-1.259,3.366V7.411H77.058a.355.355,0,0,0-.355.355v3.614A.355.355,0,0,0,77.058,11.736Z"
                                    transform="translate(-76.703 0)" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="19.194" height="15.596"
                                viewBox="0 0 19.194 15.596">
                                <path id="twitter"
                                    d="M6.029,17.595A11.128,11.128,0,0,0,17.235,6.4c0-.168,0-.338-.007-.506A8.019,8.019,0,0,0,19.194,3.85a7.987,7.987,0,0,1-2.266.621,3.96,3.96,0,0,0,1.736-2.18,7.837,7.837,0,0,1-2.5.951A3.942,3.942,0,0,0,9.447,6.835,11.186,11.186,0,0,1,1.329,2.721,3.945,3.945,0,0,0,2.55,7.978,3.986,3.986,0,0,1,.768,7.488v.054A3.944,3.944,0,0,0,3.925,11.4a3.842,3.842,0,0,1-1.038.138,3.874,3.874,0,0,1-.737-.068A3.938,3.938,0,0,0,5.83,14.2,7.9,7.9,0,0,1,.936,15.891,7.581,7.581,0,0,1,0,15.837a11.209,11.209,0,0,0,6.029,1.757Z"
                                    transform="translate(0 -1.999)" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15.083" height="15.05"
                                viewBox="0 0 15.083 15.05">
                                <g id="Group_242" data-name="Group 242" transform="translate(-1651.684 -982.842)">
                                    <path id="XMLID_802_"
                                        d="M8.2,99.73H5.17a.243.243,0,0,0-.243.243V109.7a.243.243,0,0,0,.243.243H8.2a.243.243,0,0,0,.243-.243V99.973A.243.243,0,0,0,8.2,99.73Z"
                                        transform="translate(1646.996 887.947)" />
                                    <path id="XMLID_803_" d="M2,.341a2,2,0,1,0,2,2A2,2,0,0,0,2,.341Z"
                                        transform="translate(1651.684 982.5)" />
                                    <path id="XMLID_804_"
                                        d="M112.223,94.761a3.556,3.556,0,0,0-2.66,1.117v-.632a.243.243,0,0,0-.243-.243h-2.9a.243.243,0,0,0-.243.243v9.727a.243.243,0,0,0,.243.243h3.021a.243.243,0,0,0,.243-.243v-4.813c0-1.622.441-2.254,1.571-2.254,1.231,0,1.329,1.013,1.329,2.337v4.729a.243.243,0,0,0,.243.243h3.022a.243.243,0,0,0,.243-.243V99.638C116.093,97.226,115.633,94.761,112.223,94.761Z"
                                        transform="translate(1550.674 892.674)" />
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="21.926" height="21.926"
                                viewBox="0 0 21.926 21.926">
                                <g id="Group_243" data-name="Group 243" transform="translate(-1707.409 -978.363)">
                                    <path id="instagram"
                                        d="M10.963,0C7.988,0,7.614.014,6.445.066a8.078,8.078,0,0,0-2.663.51A5.368,5.368,0,0,0,1.84,1.84,5.381,5.381,0,0,0,.576,3.782a8.03,8.03,0,0,0-.51,2.658C.014,7.612,0,7.985,0,10.964s.014,3.349.066,4.518a8.076,8.076,0,0,0,.51,2.661A5.612,5.612,0,0,0,3.781,21.35a8.048,8.048,0,0,0,2.661.51c1.17.052,1.543.066,4.521.066s3.349-.014,4.519-.066a8.093,8.093,0,0,0,2.663-.51,5.612,5.612,0,0,0,3.205-3.207,8.112,8.112,0,0,0,.51-2.661c.052-1.169.066-1.542.066-4.519s-.014-3.351-.066-4.521a8.1,8.1,0,0,0-.51-2.66A5.38,5.38,0,0,0,20.085,1.84,5.359,5.359,0,0,0,18.144.576a8.065,8.065,0,0,0-2.663-.51C14.311.014,13.939,0,10.96,0h0ZM9.98,1.976h.984c2.927,0,3.274.01,4.429.063a6.075,6.075,0,0,1,2.036.377,3.4,3.4,0,0,1,1.261.821A3.387,3.387,0,0,1,19.51,4.5a6.021,6.021,0,0,1,.377,2.035c.053,1.155.064,1.5.064,4.428s-.011,3.274-.064,4.429a6.065,6.065,0,0,1-.377,2.035A3.634,3.634,0,0,1,17.428,19.5a6.031,6.031,0,0,1-2.035.378c-1.155.052-1.5.064-4.429.064s-3.275-.012-4.43-.064A6.055,6.055,0,0,1,4.5,19.5a3.4,3.4,0,0,1-1.261-.819,3.4,3.4,0,0,1-.822-1.261,6.057,6.057,0,0,1-.377-2.035c-.052-1.155-.063-1.5-.063-4.43s.011-3.272.063-4.428a6.066,6.066,0,0,1,.378-2.036,3.4,3.4,0,0,1,.821-1.261A3.387,3.387,0,0,1,4.5,2.413a6.055,6.055,0,0,1,2.035-.378c1.011-.047,1.4-.06,3.446-.062v0ZM16.816,3.8a1.316,1.316,0,1,0,1.316,1.316A1.316,1.316,0,0,0,16.816,3.8ZM10.964,5.333a5.63,5.63,0,1,0,5.631,5.63,5.63,5.63,0,0,0-5.631-5.63Zm0,1.975A3.655,3.655,0,1,1,7.31,10.963,3.655,3.655,0,0,1,10.964,7.308Z"
                                        transform="translate(1707.409 978.363)" />
                                </g>
                            </svg>
                        </a>
                    </li>

                    </li>
                    <li>
                        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24.361" height="15.81"
                                viewBox="0 0 24.361 15.81">
                                <path id="icons8-youtube"
                                    d="M14.181,4s-7.618,0-9.518.413A2.822,2.822,0,0,0,2.509,6.16,28.7,28.7,0,0,0,2,11.9a28.7,28.7,0,0,0,.509,5.745A2.822,2.822,0,0,0,4.662,19.4c1.9.413,9.518.413,9.518.413s7.618,0,9.518-.413a2.824,2.824,0,0,0,2.153-1.746,28.7,28.7,0,0,0,.509-5.745,28.7,28.7,0,0,0-.509-5.745A2.824,2.824,0,0,0,23.7,4.413C21.8,4,14.181,4,14.181,4Zm0,1.976a80.914,80.914,0,0,1,8.888.345.573.573,0,0,1,.431.349,25.791,25.791,0,0,1,.426,5.234,25.8,25.8,0,0,1-.426,5.234.573.573,0,0,1-.431.349,80.9,80.9,0,0,1-8.888.345,80.946,80.946,0,0,1-8.888-.345.573.573,0,0,1-.431-.349A25.792,25.792,0,0,1,4.436,11.9a25.825,25.825,0,0,1,.426-5.236.571.571,0,0,1,.431-.347A80.9,80.9,0,0,1,14.181,5.976Zm-2.436,2.5v6.847L19.053,11.9Z"
                                    transform="translate(-2 -4)" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="footer-links d-f jc-fe ai-c ">
                    <li>
                        <a href="#">Disclaimer</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</footer>
<!--Footer End-->