<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/contact.css">
</head>

<!-- Body -->

<body class="">
    {{> header }}

    <div class="site-wrapper">
        <section class="contact-banner  pos-r banner d-f  jc-c ai-fs">

            <div class="map-container d-ib va-t pos-r">
                <img src="dist/images/map.svg" alt="map" width="" height="">
                <ul class="icons">

                    <li class="pos-a" style="left: 68%; top: 40%;">
                        <span>
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.99998 0C5.14413 0.00166657 3.36496 0.740014 2.05252 2.05251C0.740081 3.36501 0.00166401 5.14415 0 6.99994C0 11.7326 6.46832 19.55 6.74417 19.88C6.8075 19.9558 6.90084 20 7 20C7.09916 20 7.1925 19.9558 7.25583 19.88C7.53167 19.55 14 11.7326 14 6.99994C13.9983 5.14411 13.26 3.36494 11.9475 2.05251C10.635 0.740078 8.85578 0.00166401 6.99998 0ZM6.99998 10.6667C6.02747 10.6667 5.09496 10.28 4.40753 9.59253C3.7201 8.90502 3.33334 7.97251 3.33334 7.00009C3.33334 6.02767 3.72001 5.09508 4.40753 4.40766C5.09504 3.72023 6.02755 3.33348 6.99998 3.33348C7.9724 3.33348 8.905 3.72014 9.59243 4.40766C10.2799 5.09517 10.6666 6.02767 10.6666 7.00009C10.6658 7.9726 10.2791 8.90427 9.5916 9.59168C8.90408 10.2792 7.9724 10.6659 6.99998 10.6667Z"
                                    fill="black" />
                            </svg>

                        </span>
                    </li>

                    <li class="pos-a" style="left: 78%;top: 58%;">
                        <span>
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.99998 0C5.14413 0.00166657 3.36496 0.740014 2.05252 2.05251C0.740081 3.36501 0.00166401 5.14415 0 6.99994C0 11.7326 6.46832 19.55 6.74417 19.88C6.8075 19.9558 6.90084 20 7 20C7.09916 20 7.1925 19.9558 7.25583 19.88C7.53167 19.55 14 11.7326 14 6.99994C13.9983 5.14411 13.26 3.36494 11.9475 2.05251C10.635 0.740078 8.85578 0.00166401 6.99998 0ZM6.99998 10.6667C6.02747 10.6667 5.09496 10.28 4.40753 9.59253C3.7201 8.90502 3.33334 7.97251 3.33334 7.00009C3.33334 6.02767 3.72001 5.09508 4.40753 4.40766C5.09504 3.72023 6.02755 3.33348 6.99998 3.33348C7.9724 3.33348 8.905 3.72014 9.59243 4.40766C10.2799 5.09517 10.6666 6.02767 10.6666 7.00009C10.6658 7.9726 10.2791 8.90427 9.5916 9.59168C8.90408 10.2792 7.9724 10.6659 6.99998 10.6667Z"
                                    fill="black" />
                            </svg>

                        </span>
                    </li>
                    <li class="pos-a" style="left: 26%; top: 35%;">
                        <span>
                            <svg width=" 14" height="20" viewBox="0 0 14 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.99998 0C5.14413 0.00166657 3.36496 0.740014 2.05252 2.05251C0.740081 3.36501 0.00166401 5.14415 0 6.99994C0 11.7326 6.46832 19.55 6.74417 19.88C6.8075 19.9558 6.90084 20 7 20C7.09916 20 7.1925 19.9558 7.25583 19.88C7.53167 19.55 14 11.7326 14 6.99994C13.9983 5.14411 13.26 3.36494 11.9475 2.05251C10.635 0.740078 8.85578 0.00166401 6.99998 0ZM6.99998 10.6667C6.02747 10.6667 5.09496 10.28 4.40753 9.59253C3.7201 8.90502 3.33334 7.97251 3.33334 7.00009C3.33334 6.02767 3.72001 5.09508 4.40753 4.40766C5.09504 3.72023 6.02755 3.33348 6.99998 3.33348C7.9724 3.33348 8.905 3.72014 9.59243 4.40766C10.2799 5.09517 10.6666 6.02767 10.6666 7.00009C10.6658 7.9726 10.2791 8.90427 9.5916 9.59168C8.90408 10.2792 7.9724 10.6659 6.99998 10.6667Z"
                                    fill="black" />
                            </svg>

                        </span>
                    </li>
                    <li class="pos-a" style="left: 48%; top: 22%;">
                        <span>
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.99998 0C5.14413 0.00166657 3.36496 0.740014 2.05252 2.05251C0.740081 3.36501 0.00166401 5.14415 0 6.99994C0 11.7326 6.46832 19.55 6.74417 19.88C6.8075 19.9558 6.90084 20 7 20C7.09916 20 7.1925 19.9558 7.25583 19.88C7.53167 19.55 14 11.7326 14 6.99994C13.9983 5.14411 13.26 3.36494 11.9475 2.05251C10.635 0.740078 8.85578 0.00166401 6.99998 0ZM6.99998 10.6667C6.02747 10.6667 5.09496 10.28 4.40753 9.59253C3.7201 8.90502 3.33334 7.97251 3.33334 7.00009C3.33334 6.02767 3.72001 5.09508 4.40753 4.40766C5.09504 3.72023 6.02755 3.33348 6.99998 3.33348C7.9724 3.33348 8.905 3.72014 9.59243 4.40766C10.2799 5.09517 10.6666 6.02767 10.6666 7.00009C10.6658 7.9726 10.2791 8.90427 9.5916 9.59168C8.90408 10.2792 7.9724 10.6659 6.99998 10.6667Z"
                                    fill="black" />
                            </svg>

                        </span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="global-offices">
            <div class="container">

                <div class="grey-box">
                    <h2 class="ta-c h4 ">Our Global Offices </h2>
                    <div class="cols d-f ">

                        <div class="col to-load">
                            <h3 class="">India</h3>
                            <h4>Omnie Solutions (I) Pvt. Ltd. </h4>
                            <p>
                                D-108 IInd Floor, Sector 2, <br>
                                Noida-201301
                            </p>


                            <p class="last">
                                <a href="tel:+91-120-2442591-4">+91-120-2442591-4
                                    <a href="mailto:india.sales@omniesolutions.com">
                                        india.sales@omniesolutions.com </a>


                            </p>

                        </div>
                        <div class="col">
                            <h3>Malaysia</h3>
                            <h4>Aumcore Malaysia </h4>
                            <p>
                                Level 23, NU Tower 2, <br> Jalan Tun Sambanthan, <br>
                                Kuala Lumpur, 50470 Malaysia
                            </p>


                            <p class="last">
                                <a href="tel:03-2727-1935">03-2727-1935
                                    <a href="mailto:kualalumpur@aumcore.com">
                                        kualalumpur@aumcore.com </a>


                            </p>

                        </div>
                        <div class="col">
                            <h3>United States</h3>
                            <h4>Aumcore New York </h4>
                            <p>
                                215 Park Ave S. Suite 1802 <br> New York, NY 10003. <br> USA
                            </p>


                            <p class="last">
                                <a href="tel:(212) 776-1414">(212) 776-1414
                                    <a href="mailto:newyork@aumcore.com">
                                        newyork@aumcore.com</a>


                            </p>

                        </div>
                        <div class="col">
                            <h3>United Kingdom</h3>
                            <h4>Aumcore London </h4>
                            <p>
                                1 Fore Street <br> London EC2Y 9DT <br> UK
                            </p>


                            <p class="last">
                                <a href="tel:+44 20 7384 3324">+44 20 7384 3324
                                    <a href="mailto:london@aumcore.com">
                                        london@aumcore.com</a>


                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </section>



        <section class="interest-form section-gap new-form">
            <div class="container">
                <div class="section-title ta-c">
                    <h2 class="h4">Enquire about your interest</h2>
                    <p>For detailed information on the services offered, kindly reach out to us by filling the
                        appropriate
                        fields</p>
                </div>
                <div class="interest-form-wrapper">
                    <form action="">
                        <div class="interest-form-container">
                            <div class="form-row">
                                <input type="text" class="form-control" placeholder="Organization*">
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control" placeholder="Name*">
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control" placeholder="Email*">
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control" placeholder="Phone*">
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control" placeholder="Interested in*">
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control capcha" placeholder="Captcha">
                            </div>
                            <div class="form-row full">
                                <textarea name="" id="" class="form-control" placeholder="Your message"></textarea>
                            </div>
                            <div class="form-row full ta-c">
                                <button class="btn">Submit Enquiry</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    {{> footer }}

    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->