.home-banner {

  --square-size: 69px;
  --gutter: 20px;

  .item {
    padding: 100px 0;
  }

  .slick-active .tiles ul li {
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 150ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .slick-custom-arrow,
  .alphabet-tile,
  .right,
  .down-arrow {
    opacity: 0;
    pointer-events: none;

  }




  .tiles {
    max-width: 40%;

    ul {

      padding: 0;
      display: grid;
      grid-template-columns: repeat(var(--square-count), var(--square-size));
      grid-column-gap: var(--gutter);
      grid-row-gap: var(--gutter);
      width: calc(var(--square-count) * var(--square-size) + calc(var(--square-count) - 1) * var(--gutter));

      li {
        display: block;
        height: var(--square-size);
        width: var(--square-size);
        background-color: transparent;



        // border: 2px solid #C2C2C2
      }
    }

    @keyframes animateIn {
      0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px) translateX(-8px);
      }

      100% {
        opacity: 1;
      }
    }
  }

  .right {
    padding: 13% 0 0 10px;
    width: 60%;

    .h1 {
      font-size: 260px;
      line-height: 0.62;
      margin-bottom: 44px;
      font-family: Public Sans;
      letter-spacing: -0.06em;

      .drum {
        height: 190px;
        overflow: hidden;
        display: block;
        position: relative;

        .animate {
          position: absolute;
          top: 0;
          transition: transform 0.5s ease;
          transform: translateY(-33%);
          display: flex;
          flex-flow: column;
          height: 300%;
          left: 0;
          justify-content: flex-start;

          strong {
            flex-grow: 1;
          }

        }
      }

      strong {
        color: #C2C2C2;
        font-size: 200px;
      }


    }

    p {
      color: #4D4D4D;
      max-width: 500px;
    }
  }

  .alphabet-tile {
    background: #C2C2C2;
    width: calc(var(--square-size)* 2 + var(--gutter));
    height: calc(var(--square-size)* 2 + var(--gutter));
    font-size: 170px;
    line-height: 0.8;
    line-height: 1;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-custom-prev {
    left: 50px;
  }

  .slick-custom-arrow.slick-custom-next {
    right: 50px;
  }
}

.home-content {

  .container {
    max-width: 1366px;
  }

  .left {
    max-width: 610px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .btn {
    margin-top: 40px;
  }

  .slick-dots {
    display: none !important;
  }

  .item {
    &:nth-child(1) {
      &.slick-active {


        @keyframes animate-svg-stroke-1 {
          0% {
            stroke-dashoffset: 864.531494140625px;
            stroke-dasharray: 864.531494140625px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 864.531494140625px;
          }
        }

        .svg-elem-1 {
          animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
        }

        @keyframes animate-svg-stroke-2 {
          0% {
            stroke-dashoffset: 868.4483032226562px;
            stroke-dasharray: 868.4483032226562px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 868.4483032226562px;
          }
        }

        .svg-elem-2 {
          animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
        }

        @keyframes animate-svg-stroke-3 {
          0% {
            stroke-dashoffset: 864.5347290039062px;
            stroke-dasharray: 864.5347290039062px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 864.5347290039062px;
          }
        }

        .svg-elem-3 {
          animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
        }

        @keyframes animate-svg-stroke-4 {
          0% {
            stroke-dashoffset: 864.5328979492188px;
            stroke-dasharray: 864.5328979492188px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 864.5328979492188px;
          }
        }

        .svg-elem-4 {
          animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
        }

        @keyframes animate-svg-stroke-5 {
          0% {
            stroke-dashoffset: 1620px;
            stroke-dasharray: 1620px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1620px;
          }
        }

        .svg-elem-5 {
          animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
        }


      }
    }

    &:nth-child(2) {
      &.slick-active {
        /***************************************************
 * Generated by SVG Artista on 9/12/2024, 8:32:55 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

        @keyframes animate-svg-stroke-1 {
          0% {
            stroke-dashoffset: 857.2029418945312px;
            stroke-dasharray: 857.2029418945312px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 857.2029418945312px;
          }
        }

        .svg-elem-1 {
          animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
            animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
        }

        @keyframes animate-svg-stroke-2 {
          0% {
            stroke-dashoffset: 1019.3908081054688px;
            stroke-dasharray: 1019.3908081054688px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1019.3908081054688px;
          }
        }

        .svg-elem-2 {
          animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
            animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
        }

        @keyframes animate-svg-stroke-3 {
          0% {
            stroke-dashoffset: 1521.8839111328125px;
            stroke-dasharray: 1521.8839111328125px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1521.8839111328125px;
          }
        }

        @keyframes animate-svg-fill-3 {
          0% {
            fill: transparent;
          }

          100% {
            fill: rgb(255, 255, 255);
          }
        }

        .svg-elem-3 {
          animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
            animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
        }

      }
    }

    &:nth-child(3) {
      &.slick-active {
        /***************************************************
 * Generated by SVG Artista on 9/12/2024, 8:35:39 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

        @keyframes animate-svg-stroke-1 {
          0% {
            stroke-dashoffset: 1644.431884765625px;
            stroke-dasharray: 1644.431884765625px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1644.431884765625px;
          }
        }

        .svg-elem-1 {
          animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
        }

        @keyframes animate-svg-stroke-2 {
          0% {
            stroke-dashoffset: 1287.982666015625px;
            stroke-dasharray: 1287.982666015625px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1287.982666015625px;
          }
        }

        .svg-elem-2 {
          animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
        }

        @keyframes animate-svg-stroke-3 {
          0% {
            stroke-dashoffset: 817.4705810546875px;
            stroke-dasharray: 817.4705810546875px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 817.4705810546875px;
          }
        }

        .svg-elem-3 {
          animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
        }

        @keyframes animate-svg-stroke-4 {
          0% {
            stroke-dashoffset: 360.3896179199219px;
            stroke-dasharray: 360.3896179199219px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 360.3896179199219px;
          }
        }

        .svg-elem-4 {
          animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
        }

        @keyframes animate-svg-stroke-5 {
          0% {
            stroke-dashoffset: 1688px;
            stroke-dasharray: 1688px;
          }

          100% {
            stroke-dashoffset: 0;
            stroke-dasharray: 1688px;
          }
        }

        .svg-elem-5 {
          animation: animate-svg-stroke-5 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
        }

      }
    }
  }
}


.first-tiles {
  ul li {
    position: relative;

    &::before {
      content: '';
      // width: 100%;
      // height: 100%;
      position: absolute;
      border: 1px solid #C2C2C2;
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      transform: scale(2.4);
    }

    &:nth-child(1) {

      &::before {
        transform-origin: -113% 244%;
      }
    }


    &:nth-child(2) {

      &::before {
        transform-origin: -234% 244%;
      }
    }

    &:nth-child(3) {

      &::before {
        transform-origin: -362% 244%;
      }
    }

    &:nth-child(4) {

      &::before {
        transform-origin: -475% 244%;
      }
    }

    &:nth-child(5) {

      &::before {
        transform-origin: -595% 244%;
      }
    }

    &:nth-child(6) {

      &::before {
        transform-origin: -723% 244%;
      }
    }




    &:nth-child(7) {

      &::before {
        transform-origin: 65% 122%;
      }
    }

    &:nth-child(8) {

      &::before {
        transform-origin: -233% 124%;
      }
    }

    &:nth-child(9) {

      &::before {
        transform-origin: -360% 124%;
      }
    }

    &:nth-child(10) {

      &::before {
        transform-origin: -474% 122%;
      }
    }

    &:nth-child(11) {

      &::before {
        transform-origin: -593% 122%;
      }
    }

    &:nth-child(12) {

      &::before {
        transform-origin: -901% 168%;
      }
    }



    &:nth-child(13) {

      &::before {
        transform-origin: 89% -47%;
      }
    }

    &:nth-child(14) {

      &::before {
        transform-origin: -71% 13%;
      }
    }

    &:nth-child(15) {

      &::before {
        transform-origin: -291% -5%;
      }
    }

    &:nth-child(16) {

      &::before {
        transform-origin: -529% -6%;
      }
    }

    &:nth-child(17) {

      &::before {
        transform-origin: -729% 15%;
      }
    }

    &:nth-child(18) {

      &::before {
        transform-origin: -954% 19%;
      }
    }



    &:nth-child(19) {

      &::before {
        transform-origin: -112% -118%;
      }
    }

    &:nth-child(20) {

      &::before {
        transform-origin: -220% -116%;
      }
    }

    &:nth-child(21) {

      &::before {
        transform-origin: -356% -117%;
      }
    }

    &:nth-child(22) {

      &::before {
        transform-origin: -557% -117%;

      }
    }

    &:nth-child(23) {

      &::before {
        transform-origin: -711% -97%;
      }
    }

    &:nth-child(24) {

      &::before {
        transform-origin: -840% -117%;
      }
    }

    &:nth-child(25) {

      &::before {
        transform-origin: 35% -261%;
      }
    }

    &:nth-child(26) {

      &::before {
        transform-origin: -144% -257%;
      }
    }

    &:nth-child(27) {

      &::before {
        transform-origin: -359% -240%;
      }
    }

    &:nth-child(28) {

      &::before {
        transform-origin: -487% -238%;
      }
    }

    &:nth-child(29) {

      &::before {
        transform-origin: -682% -238%;
      }
    }

    &:nth-child(30) {

      &::before {
        transform-origin: -902% -261%
      }
    }


    &:nth-child(31) {

      &::before {
        transform-origin: -360% -469%;
      }
    }

    &:nth-child(32) {

      &::before {
        transform-origin: -601% -393%;
      }
    }

    &:nth-child(33) {

      &::before {
        transform-origin: -601% -393%;
      }
    }

    &:nth-child(34) {

      &::before {
        transform-origin: -701% -393%;
      }
    }

    &:nth-child(35) {

      &::before {
        transform-origin: -801% -393%;
      }
    }

    &:nth-child(36) {

      &::before {
        transform-origin: -901% -393%;
      }
    }
  }
}