/*Home Page*/
.hero-banner {
    height: 100vh;
    overflow: hidden;

    #myVideo {
        .pos-a;
        right: 0;
        bottom: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center center;
        background-size: contain;
        object-fit: cover;
        background: @black;
    }

    .white-logo {
        .pos-a;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .mute-video {
        .pos-a;
        color: @white;
        top: 20px;
        right: 20px;
        font-size: 30px;
        z-index: 9;
        .d-b;
    }

    @media @max-screen-1024 {
        .white-logo {
            img {
                max-width: 45%;
                margin: 0 auto;
                .d-b;
            }
        }
    }

    &-slider {
        .slick-slider {
            height: 100vh;
            overflow: hidden;

            img {
                .d-b;
                height: 100vh;
                width: 100%;
                object-fit: cover;
            }

            .slick-arrow {
                .pos-a;
                z-index: 9;
                background: transparent;
                border: none;
                padding: 0;
                font-size: 0;
                width: 45px;
                height: 75px;
                top: 45%;
                opacity: 1;
                transition: all 0.3s ease-in;

                &:hover {
                    opacity: 1;
                }

                &.slick-prev {
                    left: 0;
                    background: url(../../dist/images/icons/prevWhite.svg) no-repeat center center;
                    border-radius: 0 5px 5px 0;
                }

                &.slick-next {
                    right: 0;
                    background: url(../../dist/images/icons/nextWhite.svg) no-repeat center center;
                    border-radius: 5px 0 0 5px;
                }

                @media @max-screen-1024 {
                    width: 35px;
                    height: 60px;
                }
            }

            .slick-dots {
                bottom: 40px;
                left: 0;
                right: 0;
                z-index: 2;
                .pos-a;
                .d-f;
                .ai-c;
                .jc-c;

                li {
                    margin: 0 10px;

                    &.slick-active {
                        button {
                            background: @black;
                        }
                    }

                    button {
                        padding: 0;
                        margin: 0;
                        border: none;
                        font-size: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background: @white;
                    }
                }
            }
        }

        .white-logo {
            top: 0;
        }

        .goToDownSection {
            position: absolute;
            bottom: 25px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 2;
            width: 40px;
            height: 60px;
            border-radius: 23px;
            .d-f;
            .ai-c;
            .jc-c;
            img {
                width: 15px;
                animation: mover 1s infinite alternate;
            }
        }
    }
}

@-webkit-keyframes mover {
    0% { transform: translateY(7px); }
    100% { transform: translateY(-7px); }
}
@keyframes mover {
    0% { transform: translateY(7px); }
    100% { transform: translateY(-7px); }
}

.material-icons,
.mdi {
    font: normal normal normal 14px/1 "Material Design Icons";
    font-size: inherit;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    word-wrap: normal;
    top: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.mdi-volume-off:before {
    content: "\e04f";
}

.mdi-volume-up:before {
    content: "\e050";
}

.text-img-with-bg {
    background: @secondryColor;

    .left-right-content-img {
        .d-f;
        .ai-c;

        .left-content {
            width: 50%;
            padding: 0 10% 0 3%;
        }

        .right-img {
            width: 50%;
        }
    }

    @media @laptop {
        .left-right-content-img {
            .left-content {
                padding: 0 25px 0 0;
            }
        }
    }

    @media @tab {
        padding: 40px 0;

        .left-right-content-img {
            .fxw-w;
            .fxd-c;

            .left-content {
                padding: 0;
                width: 100%;
                order: 2;
            }

            .right-img {
                width: 100%;
                margin-bottom: 30px;

                img {
                    width: 100%;
                }
            }
        }
    }

    @media @max-screen-767 {
        .left-right-content-img {
            .fxw-w;
            .fxd-c;

            .left-content {
                width: 100%;
                padding: 37px 0 34px;
            }

            .right-img {
                width: 100%;
                margin: 0 -80px 0 0;
            }
        }
    }
}

.vimeo-videos.about-out-studio-wrapper {
    iframe {
        height: 600px;

        @media @max-screen-767 {
            height: auto;
            min-height: 200px;
        }
    }

    .about-our-studio-con {
        &-left {
            width: 70%;
        }

        &-right {
            width: 30%;
            top: 0;
            padding: 0 0 0 20px;
            .pos-r;
        }
    }

    &::after {
        background: @gray1;
        height: 93%;
    }

    @media @laptop {
        .about-our-studio-con {
            &-left {
                width: 60%;
            }

            &-right {
                width: 40%;
            }
        }
    }

    @media @tab {
        padding-bottom: 50px;

        iframe {
            height: 380px;
        }

        .about-our-studio-con {
            .fxw-w;

            &-left {
                width: 100%;
                margin-bottom: 30px;
            }

            &-right {
                width: 100%;
                top: 0;
                padding: 0;
            }
        }
    }

    @media @max-screen-767 {
        padding-bottom: 50px;

        .about-our-studio-con {
            &-left {
                width: 100%;
                margin-bottom: 30px;
            }

            &-right {
                width: 100%;
                top: 0;
                padding: 0;
            }
        }
    }
}

.about-out-studio-wrapper {
    padding-bottom: 100px;

    @media @max-screen-1024 {
        padding-bottom: 50px;
    }

    &::after {
        content: '';
        display: block;
        background: rgba(157, 137, 84, 0.1);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 90%;
    }

    .container {
        .pos-r;
        z-index: 1;
    }

    .about-our-studio-con {
        .d-f;
        .ai-fe;

        &-left {
            width: 50%;
        }

        &-right {
            width: 50%;
            padding: 0 5%;

            .about-client {
                margin-bottom: 150px;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    @media (min-width: 1301px) and (max-width: 1415px) {
        .about-our-studio-con {
            &-right {
                .about-client {
                    margin-bottom: 50px;
                }
            }
        }
    }

    @media @laptop {
        &::after {
            height: 93%;
        }

        .about-our-studio-con {
            &-right {
                .about-client {
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media @tab {
        .about-our-studio-con {
            &-right {
                .about-client {
                    margin-bottom: 50px;
                }
            }
        }
    }

    @media @max-screen-767 {
        &::after {
            width: 100%;
        }

        .about-our-studio-con {
            .fxd-c;

            &-left {
                width: 100%;
                margin-bottom: 45px;
            }

            &-right {
                width: 100%;
                padding: 0;

                .about-client {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.journal {
    .journal-container {
        .d-f;
        .jc-sb;

        &-left {
            width: 49%;
            padding-right: 30px;
            .d-f;
            .jc-c;
            .fxd-c;
            .pos-r;

            &::after {
                content: '';
                background: @gray1;
                top: 10%;
                width: 100%;
                height: 80%;
                display: block;
                .pos-a;
            }

            &-inner {
                .d-f;
                .fxw-w;
                .fxd-c;
                .jc-c;
                .pos-r;
                max-width: 750px;
                margin-left: auto;
                z-index: 1;

                &>div {
                    width: 100%;
                    .jc-sb;

                    &>div {
                        width: 100%;
                    }
                }

                h2 {
                    margin-top: 90px;
                    margin-bottom: 30px;
                    margin-left: 20px;
                }

                &>a {
                    max-width: 440px;
                    margin-left: 20px;
                }

                @media (max-width: 1024px) {
                    h2 {
                        margin-left: 0;
                    }

                    &>a {
                        margin-left: 0;
                    }
                }
            }
        }

        &-right {
            width: 49%;

            img {
                width: 100%;
            }
        }

        @media @laptop {
            &-left {
                padding: 0 30px;

                &::after {
                    display: none;
                }
            }
        }

        @media @max-screen-1024 {
            .fxw-w;
            .fxd-c;

            &-left {
                width: 100%;
                order: 2;
                padding: 0 40px 40px 40px;

                &::after {
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                &-inner {
                    max-width: 100%;
                    width: 100%;
                    margin-top: -200px;
                }
            }

            &-right {
                width: 100%;
            }
        }
    }
}

@media @max-screen-1024 {
    section.journal.section-gap-top.section-gap-bottom {
        margin: 0;
    }
}

@media @mobile {
    .journal .journal-container-left-inner {
        margin-top: -100px;
    }

    .journal .journal-container-left-inner h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.hover-card {
    .pos-r;
    overflow: hidden;

    &::after {
        content: '';
        background: @brown;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: block;
        left: 0;
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        .pos-a;
    }

    &-img {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center center;
            width: 100%;
        }
    }

    &-content {
        .pos-a;
        bottom: 35px;
        left: 0;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        right: 0;
        z-index: 1;
        font-size: 18px;
        line-height: 28px;
        color: @white;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
        .ff-SourceSansProL;
    }

    &:hover {
        &::after {
            opacity: 1;
            visibility: visible;
        }

        .hover-card-content {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (min-width: 768px) {
    .journal-slider .slick-track {
        display: flex;
        justify-content: space-between;
    }

    .slick-track .hover-card.slick-slide {
        width: 47%;
    }
}

@media (max-width: 1024px) {
    .journal .journal-container-left-inner ul.slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .journal .journal-container-left-inner ul.slick-dots button {
        padding: 0;
        font-size: 0;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 100%;
        background: rgba(157, 137, 84, 0.5);
        margin: 0 6px;
    }

    .journal .journal-container-left-inner ul.slick-dots .slick-active button {
        background: #9D8954;
    }
}

/*Home Page End*/