<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Site Title -->
    <title>Enterprise Web Application Development | Mobile App Development Company - Omnie Solutions</title>
    <meta name="description"
        content="Omnie Solutions is an enterprise application development company which provides enterprise web application and mobile apps solutions to its clients across the world. Send us your QUERY to get the best enterprise web solution." />
    <!-- Meta -->
    {{> head }}
    <!-- Styles -->
    <link rel="stylesheet" href="dist/css/services.css">
</head>

<!-- Body -->

<body>
    {{> header }}

    <div class="site-wrapper">
        <div class="page-banner bg-black text-white section-gap fl-fix">
            <div class="container">
                <div class="grid">
                    <div class="left">
                        <h5>Mobile Application Planning & Development</h5>
                        <h1 class="h2">Smart enterprising at your fingertips – strategy conceptualized for mobility</h1>
                        <p>The world has gone mobile, and businesses and consumers alike are migrating to the device
                            that is always at their fingertips – their mobile phone. By Integrating tools and technology
                            of all major mobile platforms (iPhone, Android and Windows).</p>
                    </div>
                    <div class="right ">
                        <div class="services-image-box to-load">
                            <svg width="447" height="522" viewBox="0 0 447 522" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M214.874 0.963867H417.942C433.316 0.963867 445.777 13.4081 445.777 28.7574V493.243C445.777 508.592 433.316 521.036 417.942 521.036H214.874C199.501 521.036 187.039 508.592 187.039 493.243V28.7574C187.039 13.4081 199.501 0.963867 214.874 0.963867Z"
                                    stroke="white" class="svg-elem-1"></path>
                                <path
                                    d="M417.944 2.82178H214.876C200.531 2.82178 188.902 14.4336 188.902 28.7575V493.243C188.902 507.567 200.531 519.179 214.876 519.179H417.944C432.289 519.179 443.918 507.567 443.918 493.243V28.7575C443.918 14.4336 432.289 2.82178 417.944 2.82178Z"
                                    stroke="white" stroke-width="2" class="svg-elem-2"></path>
                                <path
                                    d="M304.102 211.487C304.102 295.2 236.139 363.064 152.301 363.064C68.4629 363.064 0.5 295.2 0.5 211.487C0.5 127.773 68.4629 59.9089 152.301 59.9089C236.139 59.9089 304.102 127.773 304.102 211.487Z"
                                    stroke="white" class="svg-elem-3"></path>
                                <path
                                    d="M152.303 361.207C235.112 361.207 302.243 294.175 302.243 211.487C302.243 128.799 235.112 61.7668 152.303 61.7668C69.4936 61.7668 2.36328 128.799 2.36328 211.487C2.36328 294.175 69.4936 361.207 152.303 361.207Z"
                                    stroke="white" stroke-width="2" class="svg-elem-4"></path>
                                <path
                                    d="M330.076 487.348C330.076 492.931 325.543 497.458 319.95 497.458C314.357 497.458 309.824 492.931 309.824 487.348C309.824 481.765 314.357 477.238 319.95 477.238C325.543 477.238 330.076 481.765 330.076 487.348Z"
                                    fill="white" stroke="white" class="svg-elem-5"></path>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <section class="section-gap fl-fix mob-app-list-wrapper">
            <div class="container">
                <div class="content">
                    <h2 class="h2">
                        Mobile application development platforms
                    </h2>
                    <p>
                        We have expertise in developing multi-device mobile applications that are robust, secure, easy to
                        navigate and cost effective. Primary platform experience includes:
                    </p>
                </div>
                <ul class="mob-app-list">
                    <li><img src="dist/images/phone-gap.svg" alt=""></li>
                    <li><img src="dist/images/iphone.svg" alt=""></li>
                    <li><img src="dist/images/html5.svg" alt=""></li>
                    <li><img src="dist/images/ibm.svg" alt=""></li>
                    <li><img src="dist/images/java-android.svg" alt=""></li>
                </ul>
            </div>
        </section>

        <section class="services-black-banner bg-black text-white section-gap fl-fix">
            <div class="container">
                <div class="d-f jc-sb ai-c">
                    <div class="left w40">
                        <h3 class="h3">
                            Mobile services are the natural evolution of business success in an era of smart technology
                        </h3>
                        <p>Looking towards the future, we recognize the growing market and consumer demand for smart
                            technology. Mobile applications are the ideal platform to reach and network with our
                            generation’s growing consumption of data and utility on the go. With innovative planning and
                            development, your business can tap into that growing market, launching your business ahead
                            of competitors with a strategy built for today and the future.
                        </p>
                    </div>
                    <div class="right w40">
                        <div class="media-box">
                            <video autoplay="autoplay" muted="muted" loop="loop" disablepictureinpicture=""
                                controlslist="nodownload" playsinline="" id="video1">
                                <source src="dist/images/services/video1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="common-page-nav section-gap bg-white text-black  fl-fix">
            <div class="container">
                <div class="grid">
                    <div class="left">
                        <div class="next-tech-page">
                            <img src="dist/images/enterprise-platforms.svg" alt="">
                            <span>Enterprise Platforms</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="right-sec">
                            <a href="#" class="next-tech-prev">Prev<span class="svg-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="17.27"
                                        viewBox="0 0 19.5 17.27">
                                        <path id="Path_212" data-name="Path 212"
                                            d="M200.814,156.508l.812-.949,6.587-7.685,2.23,1.9-4.517,5.272h14.387v2.928H205.926l4.517,5.272-2.23,1.9-6.587-7.685Z"
                                            transform="translate(-200.814 -147.873)"></path>
                                    </svg>
                                </span>
                            </a>
                            <a href="#" class="next-tech-next">
                                <span class="svg-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="17.27"
                                        viewBox="0 0 19.5 17.27">
                                        <path id="Path_212" data-name="Path 212"
                                            d="M200.814,156.508l.812-.949,6.587-7.685,2.23,1.9-4.517,5.272h14.387v2.928H205.926l4.517,5.272-2.23,1.9-6.587-7.685Z"
                                            transform="translate(-200.814 -147.873)"></path>
                                    </svg></span>Next
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
    <link rel="stylesheet" href="dist/css/slick.css" />
    <script src="dist/js/slick.min.js"></script>
    {{> script }}
</body>
<!-- Body End-->

</html>
<!-- HTML End-->