/*Footer*/
.footer {
  padding: 30px 0;
  border-top: 1px solid #cccccc;

  @media only screen and (max-width: 1350px) {
    padding: 20px 0;
  }

  .footer-wrapper {
    .left {
      .logo {
        margin-bottom: 10px;
        max-width: 160px;

        @media @mobile {
          margin: 0 auto 5px auto;
        }
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      opacity: 0.5;

      @media @mobile {
        margin-bottom: 35px;
      }
    }

    ul.social-links {
      margin-bottom: 10px;

      li {
        margin-left: 35px;
      }

      @media @mobile {
        justify-content: center;
      }
    }

    ul.footer-links {
      li {
        margin-left: 20px;
        font-size: 14px;

        a {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }

      @media @mobile {
        justify-content: center;
      }
    }

    @media @mobile {
      flex-wrap: wrap;
      text-align: center;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
      }
    }
  }
}

/*Footer End*/