/*Footer*/
.footer {
    padding: 30px 0;
    border-top: 1px solid #CCCCCC;

    .left {
        .logo {
            margin-bottom: 10px;
            max-width: 160px;
        }
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
        opacity: 0.7;
    }

    ul.social-links {
        margin-bottom: 10px;
        li {
            margin-left: 35px;
        }
    }

    ul.footer-links {
        li {
            margin-left: 20px;
            font-size: 14px;
            a{
                opacity: 0.7;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

/*Footer End*/